@charset "utf-8";
div {
	padding:0px;
	margin:0px;
}


.questionbg {
	background-color: #F3F3F3;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:15px;
	padding-left:15px;
}
.questionbg h2 {
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #888888;
}
.questionbg p {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #888888;
}
.questionbg .explaintext {
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #888888;
}
.questionbg .explaintext a:link, a:active, a:visited {
	color: #888888;
	text-decoration:none;
}
.questionbg .explaintext  a:hover  {
	color: #888888;
	text-decoration:underline;
}
.questionbg table {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #888888;
}
.questionbg input, select {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	width:300px;
	margin-bottom:4px;
	margin-right:5px;
	color: #888888;
}
.questionbg select {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	width:304px;
	margin-bottom:4px;
	margin-right:5px;
	color: #888888;
}
.reqinfo {
	color: #990000
}
