@charset "utf-8";
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #888888;
	margin-top: 0px;
}
h3 {
	color: #990000;
}
.contentsection {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #888888;
	line-height:140%;
	padding: 20px;
}
.blist {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #888888;
	list-style-image: url(bullets/logob.gif);
}
.blist li {
	padding-bottom:10px;
}
.blist a:link, a:visited, a:active {
	color: #888888;
	text-decoration:none;
}
.blist a:hover {
	color: #888888;
	text-decoration:underline;
}
.floatright {
	float:right;
	margin-right: 0px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 0px;
}
.basetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7F7F7F;
}
.basetext a:link, a:active, a:visited {
	color: #7F7F7F;
	text-decoration:none;
}
.basetext a:hover {
	color: #7F7F7F;
	text-decoration:underline;
}
.boldem {
	font-size: 14px;
	font-weight:bolder;
}
.privpol {
	font-size: 10px;
}
.privpol a:link a:visited a:active {
	text-decoration: none;
}
.privpol a:hover {
	text-decoration: underline;
}
.contactform input, textarea{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7F7F7F;
	width:250px;
}

.sponsorbox {
	border: 1px solid #62A905;
	width:326px;
	float:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #888888;
}
