@charset "utf-8";
/* CSS Document */
.sup49 {
	width: 50px;
	text-align: center;
}
.sup59 {
	width: 64px;
	text-align: center;
}
.sup34 {
	width: 34px;
	text-align: center;
}
.sup43 {
	width: 43px;
	text-align: center;
}
.sup38 {
	width: 38px;
	text-align: center;
}
.fulfillbg {
	background-color: #F3F3F3;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:15px;
	padding-left:15px;
}
.fulfillbg h2 {
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #888888;
}
.fulfillbg h3 {
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #888888;
}
.fulfillbg p {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #888888;
}
.fulfillbg input {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #888888;
}
.fulfillbg .explaintext {
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #888888;
}
.warntext {
	color: #990000;
}