/*
HEADER MINBAR
================================================ */
.body-overlay {
	left: 319px;
	right: auto;
}

/* STRUCTURE */
#body {
	margin-left: 129px;
	margin-right: 4%;
}
.full_width #body {
	margin-left: 69px;
	margin-right: 0;
}
#footerwrap {
	margin-left: 69px;
}
.mobile-menu-visible.full_width #body {
	margin-left: 0;
}

/* Builder Row */
.full_width .themify_builder_row .row_inner {
	max-width: 96%;
}

body.themify_builder_active:not(.fixed-header) #headerwrap {
	top: 37px;
}

/* HEADERWRAP */
#headerwrap {
	float: left;
	width: 318px;
	position: fixed !important;
	height: 100%;
	left: -249px;
	transition: left .2s ease-in-out;
	z-index: 9999;
	border-bottom: none;
	border-right: 1px solid rgba(0,0,0,.1);
}
.transparent-header #headerwrap {
	background-color: rgba(0,0,0,.3);
}
#header {
	text-align: inherit;
	position: absolute;
	height: 100%;
	width: 100%;
	font-size: .95em;
	padding: 0;
	display: block;
}
.header-bar {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	position: fixed;
	bottom: 0;
	left: 20px;
}

/* SITE LOGO */
#site-logo {
	font-size: 1.8em;
	margin: 0 .3em 0 0;
	display: inline-block;
	vertical-align: middle;
}
#site-logo img {
	height: 30px;
	width: auto;
}

/* SITE DESCRIPTION */
#site-description {
	font-size: .9em;
	margin: 0;
	display: inline-block;
}
	
/* SLIDE MENU */
.admin-bar .sidemenu {
	top: 32px;
}
.mobile_menu_active .sidemenu,
.sidemenu {
	background-color: #333;
	color: #fff;	
	display: block;
	width: 250px;
	height: 100%;
	padding: 3.5em 1.5em;
	position: fixed;
	top: 0;
	z-index: 11111;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	transition: all .2s ease-in-out;
	box-sizing: border-box;
}
#mobile-menu {
	left: -300px;
	transition: all .2s ease-out;
}
#mobile-menu.sidemenu-on {
	left: 0;
}
.sidemenu-active {
	position: relative;
	left: 0;
	transition: left .2s ease-in-out;
}
.mobile_menu_active.sidemenu-left,
.sidemenu-left {
	left: 319px;
}
.sidemenu-left #mobile-menu.sidemenu-on {
	left: 69px;
	z-index: 1;
}

/* SOCIAL WIDGET */
.social-widget {
	float: none;
	clear: both;
	display: block;
	margin: 0 0 1em;
}

/* SEARCHFORM */
#headerwrap #searchform-wrap {
	float: none;
	clear: both;
	display: block;
	margin: 0 0 1em;
}
#searchform-wrap #searchform {
	width: auto; /* reset searchform width */
}

#headerwrap #searchform #s {
	width: 100%;
	margin: 0;
	background-color: #fff;
	color: #000;
	position: static;
	opacity: 1;
	box-sizing: border-box;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
#headerwrap #searchform .icon-search:before {
	border: none;
	background: none;
	color: #000;
}
#headerwrap #searchform #s:focus,
#headerwrap #searchform #s:hover,
#headerwrap #searchform .icon-search:hover + #s {
	width: 100%;
	padding-left: 2.25em;
	padding-right: 1.25em;
}

/* MAIN NAV */
#main-nav {
	float: none;
	clear: both;
	margin: 0 0 2em;
	text-align: inherit;
}
#main-nav ul {
	width: auto;
}
#main-nav ul:after,
#main-nav ul:before {
	display: none;
}
#main-nav li {
	display: block;
}
#main-nav a {
	padding: .6em 0;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}
#main-nav ul a {
	width: auto;
	color: inherit;
}
#main-nav li:not(.themify-widget-menu) > ul {
	position: static;
	display: block;
	background-color: transparent;
	border: none;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	text-align: inherit;
}

/* dropdown icon */
#main-nav .menu-item-has-children .child-arrow:before,
#main-nav .page_item_has_children .child-arrow:before {
    content: "\e804"; /* ti-plus */
	font-family: 'themify_theme_icon';
	font-size: 0.95em;
	cursor: pointer;
    position: absolute;
    right: 0;
	top: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:before,
#main-nav .page_item_has_children .child-arrow.toggle-on:before {
    content: "\e805"; /* ti-minus */
}
#main-nav .menu-item-has-children > a .sub-arrow,
#main-nav .page_item_has_children > a .sub-arrow {
	display: none;
}
.header-minbar #headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
.header-minbar #headerwrap #main-nav > li > div.children,
.header-minbar #headerwrap #main-nav > li > ul.children,
.header-minbar #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.header-minbar #headerwrap #main-nav > li > div.sub-menu,
.header-minbar #headerwrap #main-nav > li > ul.sub-menu,
#headerwrap #main-nav > li li > div.sub-menu,
#headerwrap #main-nav > li li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}
.header-minbar #headerwrap #main-nav .has-sub-menu > .children > li > .toggle-on + ul.children,
.header-minbar #headerwrap #main-nav > li > .toggle-on + div.children,
.header-minbar #headerwrap #main-nav > li > .toggle-on + ul.children,
.header-minbar #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.header-minbar #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.header-minbar #headerwrap #main-nav > li > .toggle-on + ul.sub-menu,
#headerwrap #main-nav > li li > .toggle-on + div.sub-menu,
#headerwrap #main-nav > li li > .toggle-on + ul.sub-menu {
	max-height: 1000px;
	min-height: initial;
}
#headerwrap #main-nav > li {
	position: relative;
}
#headerwrap #main-nav > li:last-child a,
#headerwrap #main-nav > li a {
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.3)
}
#headerwrap #main-nav > li li a {
	font-size: 0.95em;
	padding: .5em 0;
	margin: 0 0 0 1em;
	background: none;
	color: inherit;
	width: 100%;
}
#headerwrap #main-nav > li li li a {
	margin: 0 0 0 1.5em;
	font-size: .95em;
}

/* DROPDOWN ICON */
#main-nav .menu-item-has-children > a:after {
	display: none;
}

/* HEADERWRAP COLUMN */
#headerwrap .col3-1 {
	float: none;
	width: auto;
	margin: auto;
}

/* MENU ICON */
.admin-bar #headerwrap #menu-icon {
	top: 52px;
}
#menu-icon {
    position: fixed;
    display: block;
    top: 30px;
    left: 20px;
    text-decoration: none;
	z-index: 2;
}
.menu-icon-inner {
    width: 30px;
    height: 20px;
}
.mobile-menu-visible .menu-icon-inner {
	width: 30px;
	height: 30px;
}
.mobile-menu-visible #headerwrap .menu-icon-inner:before,
.mobile-menu-visible #headerwrap .menu-icon-inner:after {
	top: 50%;
	border-top: 2px solid;
	border-bottom: none;
	height: auto;
}
.mobile-menu-visible .menu-icon-inner:before,
.mobile-menu-visible .menu-icon-inner:after {
	top: 50%;
}
.mobile-menu-visible .menu-icon-inner:before {
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.mobile-menu-visible .menu-icon-inner:after {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

/* MOBILE MENU ACTIVE */
.mobile-menu-visible,
.mobile_menu_active.mobile-menu-visible {
	overflow-x: hidden;
}
/* MOBILE MENU ACTIVE MOBILE MENU */
.mobile_menu_active #mobile-menu {
	left: -300px;
}
.mobile_menu_active.sidemenu-left #mobile-menu.sidemenu-on {
	left: 69px;
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

/* MOBILE MENU ACTIVE PAGEWRAP */
.mobile_menu_active.header-minbar.minbar-open #body,
.mobile_menu_active.header-minbar.minbar-open #footerwrap {
	margin-left: 38px;
}

/* header minbar headerwrap */
.mobile_menu_active.header-minbar #headerwrap {
	z-index: 4;
	left: -249px;
}
.mobile_menu_active.header-minbar.minbar-open #headerwrap {
	left: 0;
	padding: 0 4em 1.7em 1.3em;
}
.mobile_menu_active.header-minbar #headerwrap #header {
	height: 100%;
	padding: 0;
}
.mobile_menu_active #footerwrap {
	margin-left: 46px;
}

/* MOBILE MENU ACTIVE SITE LOGO */
.mobile_menu_active #headerwrap #site-logo {
	margin: 0;
}

/* MOBILE MENU ACTIVE MENU ICON CLOSE */
.mobile_menu_active #headerwrap #menu-icon-close {
	display: none;
}

/* MOBILE MENU ACTIVE MENU ICON */
.mobile_menu_active #menu-icon {
	-webkit-transform: none;
	transform: none;
	top: 30px;
	right: auto;
	left: 20px;
	position: fixed;
}

@media screen and (max-width: 680px) {
	/* menu icon & menu icon close */
	.menu-icon-inner {
		width: 20px;
		height: 14px;
	}
	.mobile-menu-visible .menu-icon-inner {
		height: 20px;
		width: 20px;
	}
	.mobile_menu_active #menu-icon {
		left: 13px;
	}
	
	#body,
	.full_width #body {
		margin-left: 46px;
		margin-right: 0;
	}
	
	/* STRUCTURE */
	.body-overlay,
	.header-minbar.sidemenu-left {
		left: 295px;
	}

	/* MOBILE MENU ACTIVE HEADERWRAP */
	.no-fixed-header.mobile_menu_active #headerwrap {
		left: -204px;
		width: 250px;
	}
	.no-fixed-header.mobile_menu_active.mobile-menu-visible #headerwrap {
		left: 0;
	}

	/* MOBILE MENU ACTIVE HEADER BAR */
	.header-bar {
		left: 10px;
	}

	.sidemenu-left #mobile-menu.sidemenu-on {
		left: 0;
	}	
	.mobile_menu_active.sidemenu-left #mobile-menu.sidemenu-on {
		left: 46px;
	}

}

@media screen and (max-width: 320px) {
	#body {
		padding-left: 6%;
		padding-right: 6%;
	}
}