/*
HEADER SLIDE OUT
================================================ */
/* HEADERWRAP */
.transparent-header.themify_builder_active #headerwrap {
	position: fixed !important;
	color: #fff;
}
#header {
	text-align: inherit;
	padding: 1.05em 0;
	display: block;
	height: auto;
}
.header-bar {
	float: left;
}
body:not(.mobile-menu-visible) #header .hgroup {
	display: block;
}

/* SITE LOGO */
#site-logo {
	font-size: 1.5em;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

/* SITE DESCRIPTION */
#site-description {
	margin: 0;
	font-size: .65em;
	display: inline-block;
}

/* SOCIAL WIDGET */
#header .social-widget {
    position: static;
    float: none;
	display: block;
	margin: 0 0 1em;
}

/* SEARCHFORM */
#headerwrap #searchform-wrap {
	float: none;
	clear: both;
	display: block;
	margin: 0 0 1em;
}
#searchform-wrap #searchform {
	width: auto; /* reset searchform width */
}
#headerwrap #searchform #s {
	width: 100%;
	margin: 0;
	background-color: #fff;
	color: #000;
	position: static;
	opacity: 1;
	box-sizing: border-box;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
#headerwrap #searchform .icon-search:before {
	border: none;
	background: none;
	color: #000;
}
#headerwrap #searchform #s:focus,
#headerwrap #searchform #s:hover,
#headerwrap #searchform .icon-search:hover + #s {
    width: 100%;
	padding-left: 1.5em;
}

/* MAIN NAV */
#main-nav {
	text-align: inherit;
	margin: 0 0 2em;
}
#headerwrap #main-nav li {
	float: none;
	display: block;
	position: relative;
	width: auto;
}

/* sub level */
#main-nav ul {
	background: none;
	border: none;
	clear: both;
	color: inherit;
	display: block;
	font-size: .95em;
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: inherit;
}
#main-nav ul,
#main-nav ul ul {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;	
}
#main-nav ul ul {
    padding: 0 0 0 1em;
}
#main-nav ul:after,
#main-nav ul:before {
	display: none;
}

/* sub-menu icon */
#headerwrap #main-nav .menu-item-has-children > a:after,
#headerwrap #main-nav ul .menu-item-has-children > a:after {
	display: none;
}

/* Remove sub arrow mobile */
#main-nav .menu-item-has-children > a .sub-arrow,
#main-nav .page_item_has_children > a .sub-arrow {
	display: none !important;
}

/* sub-menu child arrow */
#main-nav .menu-item-has-children .child-arrow:before,
#main-nav .page_item_has_children .child-arrow:before {
    content: "\e804"; /* ti-plus */
	font-family: 'themify_theme_icon';
	font-size: 0.8em;
	cursor: pointer;
    position: absolute;
    right: 0;
	top: 4px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:before,
#main-nav .page_item_has_children .child-arrow.toggle-on:before {
	content: "\e805"; /* ti-minus */
}

/* sub-menu dropdown animation */
.header-slide-out #headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
.header-slide-out #headerwrap #main-nav .has-mega-column > .children > li > ul.children,
.header-slide-out #headerwrap #main-nav > li > div.children,
.header-slide-out #headerwrap #main-nav > li > ul.children,
.header-slide-out #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.header-slide-out #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
.header-slide-out #headerwrap #main-nav > li > div.sub-menu,
.header-slide-out #headerwrap #main-nav > li > ul.sub-menu,
.header-slide-out #headerwrap #main-nav > li li > div.sub-menu,
.header-slide-out #headerwrap #main-nav > li li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
	margin: 0;
	padding: 0 0 0 1em;
}
.header-slide-out #headerwrap #main-nav .has-sub-menu > .children > li > .toggle-on + ul.children,
.header-slide-out #headerwrap #main-nav .has-mega-column > .children > li > .toggle-on + ul.children,
.header-slide-out #headerwrap #main-nav > li > .toggle-on + div.children,
.header-slide-out #headerwrap #main-nav > li > .toggle-on + ul.children,
.header-slide-out #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.header-slide-out #headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
.header-slide-out #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.header-slide-out #headerwrap #main-nav > li > .toggle-on + ul.sub-menu,
.header-slide-out #headerwrap #main-nav > li li > .toggle-on + div.sub-menu,
.header-slide-out #headerwrap #main-nav > li li > .toggle-on + ul.sub-menu {
	max-height: 1000px;
	min-height: initial;
}

/* header slide out fixed-header */
#headerwrap.fixed-header #header {
	min-height: inherit;
}
#headerwrap.fixed-header .header-bar,
#headerwrap.fixed-header .social-widget,
#headerwrap.fixed-header #searchform-wrap {
	display: block;
}
#headerwrap.fixed-header #site-logo img {
	max-height: 30px;
}

body:not(.mobile_menu_active) #headerwrap .header-icons {
	position: absolute;
	display: block;
	top: 15px;
	right: 7%;
	text-decoration: none;
	color: inherit;
	font-size: 1em;
	z-index: 2;
}
body:not(.mobile_menu_active)body.mobile-menu-visible .header-icons {
	z-index: 1 !important; /* prevent the overlap of header buttons with the sidemenu */
}

/* MENU ICON */
.mobile-menu-visible #headerwrap #menu-icon {
	display: none; /* menu icon when sidemenu is open */
}
#headerwrap #menu-icon {
    position: absolute;
    display: block;
    right: 0;
    text-decoration: none;
    font-size: .9em;
	-webkit-transform: none;
	transform: none;
}

/* SLIDE MENU ICON CLOSE */
body:not(.mobile_menu_active) #headerwrap #menu-icon-close {
	position: absolute;
	display: block;
	text-decoration: none;
	top: 20px;
	right: 20px;
	font-size: 20px;
	color: inherit;
}

/* Slide Menu Styles */
body:not(.mobile_menu_active) .sidemenu {
	transition: all .2s ease-in-out;
	height: 100%;
	width: 300px;
	padding: 3em 1.5em;
	background-color: #000;
	color: #fff;
	display: block;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	z-index: 11111;
	box-sizing: border-box;
}
body:not(.mobile_menu_active) #headerwrap #main-nav a,
body:not(.mobile_menu_active) #headerwrap #main-nav ul a {
	width: auto;
	display: block;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	color: inherit;
	padding: .55em 0;
	margin: 0;
	line-height: 1.5em;
	background: none;
	text-decoration: none;
}
body:not(.mobile_menu_active) .sidemenu h1,
body:not(.mobile_menu_active) .sidemenu h2,
body:not(.mobile_menu_active) .sidemenu h3,
body:not(.mobile_menu_active) .sidemenu h4,
body:not(.mobile_menu_active) .sidemenu h5,
body:not(.mobile_menu_active) .sidemenu h6 {
	color: inherit;
}
body:not(.mobile_menu_active).admin-bar .sidemenu {
	top: 32px;
}
body:not(.mobile_menu_active) #mobile-menu {
	right: -300px;
}
body:not(.mobile_menu_active) #mobile-menu.sidemenu-on {
	right: 0;
}
body:not(.mobile_menu_active).sidemenu-active {
	position: relative;
}
body:not(.mobile_menu_active).sidemenu-active,
body:not(.mobile_menu_active).sidemenu-active #headerwrap {
	left: 0;
	-webkit-transition: left .2s ease-in-out;
	-moz-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out;
}
body:not(.mobile_menu_active).sidemenu-right,
body:not(.mobile_menu_active).sidemenu-right #headerwrap.fixed-header {
	left: -300px;
}

/* fix tinyMCE buttons in Builder on frontend, #3021 */
.frontend.noScroll .mce-container.mce-floatpanel {
	position: fixed;
}