/*
HEADER BOXED LAYOUT
================================================ */
body {
	background-color: #ddd;
	background-size: cover;
	background-attachment: fixed;
}
#pagewrap {
	width: 1236px;
	margin: 27px auto;
	max-width: 95%;
	background-color: #fff;
	position: relative;
	padding-top: 0;
}
#header {
	padding: 2em 0 1em;
	text-align: center;
	height: auto;
}
#header,
#header .hgroup {
	display: block;
}

/* main-nav-wrap */
#headerwrap:not(.fixed-header) .social-widget + #main-nav-wrap {
	margin-top: 1em;
}

/* Search form */
#headerwrap #searchform-wrap {
	margin: 0.5em 0 0.375em;
}
#headerwrap #searchform #s {
	right: auto;
	left: 0;
	top: 0;
	padding-left: 28px;
	width: 10px;
}
#header #searchform #s:focus,
#header #searchform:hover #s {
    padding-left: 2.25em;
}

#gallery-controller .carousel-wrap {
	margin-bottom: 0;
}

/* fixed header #header */
body:not(.mobile_menu_active) #headerwrap.fixed-header #header {
	padding: 0;
}

/* fixed-header visible header elements */
.mobile_menu_active #headerwrap.fixed-header .header-bar,
.mobile_menu_active #headerwrap.fixed-header .social-widget,
.mobile_menu_active #headerwrap.fixed-header #searchform-wrap {
	display: block;
}

/* mobile menu active pagewrap */
.mobile_menu_active #pagewrap {
	max-width: 95%;
}

/* mobile menu active searchform */
.mobile_menu_active #headerwrap #searchform #s {
	padding-left: 28px;
	padding-right: 28px;
}

/* boxed layout dropdown menu style */
.dropdown-menu-style.mobile_menu_active #headerwrap #main-nav-wrap {
	min-height: 60px;
}
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header #main-nav-wrap {
	min-height: inherit;
}
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header #main-nav {
	margin: auto;
	left: auto;
	right: 0;
}
body:not(.fixed-header-on).admin-bar.nav-bar-top.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown,
.nav-bar-top.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown {
	top: auto;
	bottom: 0;
}
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header #menu-icon-dropdown {
	left: auto;
	right: 3%;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}