/*
HEADER MENU BAR
================================================ */
/* HEADERWRAP */
#headerwrap {
	min-height: 55px;
	background-image: none !important;
}
#header {
	display: block;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	max-width: none;
}
#header .hgroup {
	display: block;
}
#main-nav {
	margin: auto;
}

/* SITE LOGO */
.header-bar,
#header .social-widget,
#headerwrap #searchform-wrap {
	display: none;
}
.mobile_menu_active #headerwrap #searchform-wrap,
.mobile_menu_active #headerwrap.fixed-header .header-bar,
.mobile_menu_active #headerwrap.fixed-header .social-widget,
.mobile_menu_active #headerwrap.fixed-header #searchform-wrap {
	display: none;
}
.mobile_menu_active #headerwrap #menu-icon {
    top: auto;
}

/* header menu bar dropdown menu style */
.dropdown-menu-style.mobile_menu_active #header,
.dropdown-menu-style.mobile_menu_active #header .hgroup {
	position: static;
}