.col4-1, .col4-2, .col4-3, .col3-1, .col3-2, .col2-1 {
	float: right;
	margin-left: 0;
	margin-right: 3.2%;
}
.col.first, .col4-1.first, .col4-2.first, .col4-3.first, .col3-1.first, .col3-2.first, .col2-1.first {
	margin-right: 0;
}
/************************************************************************************
HEADER LAYOUTS
*************************************************************************************/
/* header-horizontal */
.header-horizontal .header-bar {
	float: right;
}
.header-horizontal #main-nav {
	float: left;
}
.header-horizontal #header .social-widget {
	float: left;
}
.header-horizontal #header #searchform-wrap {
	float: left;
}

/* header-boxed-compact */
body:not(.mobile_menu_active).header-boxed-compact .header-bar {
	float: right;
}
.header-boxed-compact #site-description {
	margin: 0 10px 0 0;
}
.header-boxed-compact #header .social-widget {
	float: left;
}
.header-boxed-compact #header #searchform-wrap {
	float: left;
}
.header-boxed-compact .mobile_menu_active #menu-icon {
	right: auto;
	left: 3%;
}

/* header-overlay */
.header-overlay #headerwrap #menu-icon {
	right: auto;
	left: 2%;
}
.header-overlay #menu-icon-close {
	right: auto;
	left: 1em;
}
.header-overlay #main-nav li {
	text-align: right;
}
.header-overlay #main-nav .page_item_has_children .child-arrow:before,
.header-overlay #main-nav .menu-item-has-children .child-arrow:before {
	right: auto;
	left: 0;
}

/* header-slide-out */
.header-slide-out .header-bar {
	float: right;
}
.header-slide-out #headerwrap #menu-icon {
	right: auto;
	left: 0;
}
body:not(.mobile_menu_active).header-slide-out #headerwrap #menu-icon-close {
	right: auto;
	left: 20px;
}
.header-slide-out #headerwrap #searchform .icon-search:before {
	left: auto;
	right: 0;
}
.header-slide-out #main-nav .menu-item-has-children .child-arrow:before,
.header-slide-out #main-nav .page_item_has_children .child-arrow:before {
	right: auto;
	left: 0;
}
.header-slide-out #headerwrap #main-nav > li > ul.sub-menu {
	padding: 0 1em 0 0;
}

/* header-minbar */
.header-minbar #headerwrap #searchform .icon-search:before {
	left: auto;
	right: 0;
}
.header-minbar #main-nav .menu-item-has-children .child-arrow:before,
.header-minbar #main-nav .page_item_has_children .child-arrow:before {
	right: auto;
	left: 0;
}
.header-minbar #headerwrap #main-nav > li li a {
	margin: 0 1em 0 0;
}

/* header-rightpane */
.header-rightpane #headerwrap #searchform .icon-search:before{
	left: auto;
	right: 0;
}
.header-rightpane #main-nav .menu-item-has-children .child-arrow:before,
.header-rightpane #main-nav .page_item_has_children .child-arrow:before {
	right: auto;
	left: 0;
}
.header-rightpane #main-nav li:not(.themify-widget-menu) > ul {
	padding: 0;
}

/* header-leftpane */
.header-leftpane #headerwrap #searchform .icon-search:before{
	left: auto;
	right: 0;
}
.header-leftpane #main-nav .menu-item-has-children .child-arrow:before,
.header-leftpane #main-nav .page_item_has_children .child-arrow:before {
	right: auto;
	left: 0;
}
.header-leftpane #main-nav li:not(.themify-widget-menu) > ul {
	padding: 0;
}

/************************************************************************************
SEARCH
*************************************************************************************/
#header #searchform #s {
	left: auto;
	right: 0;
}
.header-horizontal #header #searchform #s,
.header-boxed-compact #header #searchform #s,
.header-boxed-compact #header #searchform #s {
	right: auto;
	left: 0;
}

/************************************************************************************
POST
*************************************************************************************/
/* comments */
.commentlist .avatar {
	float: right;
    margin: 0 0 0 20px;
}
.commentlist .reply {
	right: auto;
	left: 0;
}
.commentlist .comment-reply-link:before {
	left: auto;
	right: -22px;
	border-right: none;
	border: 11px solid transparent;
    border-left-color: #000;
}

/************************************************************************************
MOBILE LAYOUT
*************************************************************************************/
.header-horizontal.mobile_menu_active #menu-icon,
.header-boxed-compact.mobile_menu_active #menu-icon,
.header-menu-bar.mobile_menu_active #menu-icon,
.header-boxed-layout.mobile_menu_active #menu-icon {
	right: auto;
	left: 3%;
}
.header-horizontal.mobile_menu_active #main-nav {
	float: none;
}
.mobile_menu_active #menu-icon-close {
	right: auto;
	left: 1em;

}
.mobile_menu_active .social-widget {
	text-align: right;
}
.mobile_menu_active #headerwrap #searchform .icon-search:before {
	left: auto;
	right: 0;
}
.mobile_menu_active #main-nav {
	text-align: right;
}
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:before {
	right: auto;
	left: 0;
}
.mobile_menu_active #main-nav ul {
	padding: 0 1em 0 0;
}
.header-minbar.mobile_menu_active.sidemenu-left #mobile-menu.sidemenu-on {
	left: auto;
	right: 69px;
}

/************************************************************************************
PORTFOLIO POST
*************************************************************************************/
.loops-wrapper.list-post .post {
	text-align: right;
}
.single-portfolio-expanded .post-image,
.single-portfolio .post-image {
	float: right;
	margin-right: 0;
	margin-left: 3%;
}
.single-portfolio-expanded .post-title {
	text-align: right;
}
.single-portfolio-expanded .post-content {
	margin-right: 0;
	margin-left: 30px;
}
.post-date {
	text-align: right;
}
.single-portfolio-expanded .entry-content {
	text-align: right;
}
.single-portfolio-expanded .close-expanded {
	right: auto;
	left: 0;
}
.single-portfolio-expanded .expand-prev {
	right: auto;
	left: 40px;
}
.single-portfolio-expanded .expand-next {
	right: auto;
	left: 70px;
}

.progress-bar {
	text-align: right;
}
.post-nav .prev {
	text-align: left;
}

@media (min-width: 761px) {
	.loops-wrapper.grid4 .post, .loops-wrapper.grid3 .post, .loops-wrapper.grid2 .post {
		float: right;
		margin-left: 0;
		margin-right: 3.2%;
	}
	.loops-wrapper.grid4 .post:nth-of-type(4n+1), .loops-wrapper.grid3 .post:nth-of-type(3n+1), .loops-wrapper.grid2 .post:nth-of-type(2n+1), .loops-wrapper.grid2-thumb .post:nth-of-type(2n+1) {
		margin-right: 0;
	}
	#main-nav ul ul {
		text-align: right;
		left: auto;
		right: 50%;
		margin: 0 97px 0 0;
	}
	.home #main-nav ul ul:before {
		border-right: none;
	}
	#main-nav ul ul:before {
		left: auto;
		right: -9px;
		border-right: none;
		border-left: 8px solid #000;
	}
}