.alert.alert-warning {position: relative;
z-index: 99999; }
/* .social-float-parent #share-buttons {width:auto; float:right;} */
.margin_btm {margin-bottom:125px;}
#footerwrap {position:relative; z-index:9999;}
.plant-registration a.btn_download {
    margin: 20px auto 0;
    float: none;
    display: inherit;
    height: auto;
    text-align: center;
    overflow: hidden;
    padding: 5px 0;
    border-radius: 4px;
}

#share-buttons{
float: left;
text-align: center;
width: 100%;
margin-top: 20px;
}

#share-buttons img {
width: 48px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
#share-buttons p {
    color: #060;
    margin: 0 0 10px;
    font-size: 20px;
	text-align:right;
}
#social-float {right: 0px;top: 50%;width: 96%; position:fixed;}
.social-float-parent {
    width:  100%;
    float: left;
    position: relative;
}
#social-float.social_abs {position:absolute !important;     right: 0;
    top: auto;
    width: auto;
    bottom: 10px;
    left: auto;
	}
.social-float-parent #share-buttons {width:auto; float:right;}

.nav-bar-top #header .hgroup{
	padding-top: 25px!important;
}
.wh_sub_head {    margin: 40px 0 10px; font-weight:bold;}

@media screen and (max-width:1199px)
{
	#share-buttons img {width:38px;}
	/* .social-float-parent .benifit_business a.btn_download {width:100px;}  */
}
@media screen and (max-width:991px)
{
	/* .social-float-parent .benifit_business a.btn_download {width:100px;}  */
	
#share-buttons {
    width: 60px;
   text-align:right;
   margin: 0;
   top: 30%;
}
#share-buttons a {
    display: block;
}
#share-buttons p {font-size: 10px;
	line-height: 14px;
	text-align:right;
	padding: 3px 3px;
	}
#share-buttons a  img {width:35px; padding:2px;}
.plant-registration img {width:100%;}
.plant-registration {text-align:center;}
}
.page-id-14779 #header{
  height: 0px!important;
}
@media screen and (max-width:767px)
{
	#share-buttons p { font-size:8px; width:50px;} 
	#share-buttons {right: 0px;}
	.plant-registration img {width:83%;}
	.wh_sub_head {
    margin: 20px 0px;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
}
.margin_btm{margin-bottom:50px;}
}
.checkbox a 
{
	text-decoration:none!important;
	color:#d5b000;
}
input[type="text"], input[type="search"], input[type="email"], input[type="url"]{
	 width:100%;
}
.plant-registration {
    margin: auto;
    width: 100%;
	float:left;
	margin-bottom:40px;
}
.plant-registration form {
    background-color: #fcfcfc;
    border: 2px solid #f4f4f4;
    box-shadow: 1px 1px 5px 1px #eee;
    padding: 20px;
}
.bs-example .container{
	padding:0px;
}
.plant-registration h5 {
    color: #d5b000;
}
.wh_sub_head {
    float: left;
    width: 100%;
	font-family: Questrial;
	padding-bottom:25px;
    text-align: center;
}
.plant-registration label {
    color: #292929;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
	font-family: Questrial;
	font-size:16px;
    margin-top: 20px;
}
.red {
    color: red;
}
.plant-registration input {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #ddd inset;
    color: #555;
    font-size: 14px;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    max-width: 100%;
}
.plant-registration select {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    box-shadow: 0 1px 3px #ddd inset;
    font-size: 18px;
    font-weight: bold;
	height: 40px;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
}
.center_div {
    margin: 0 auto;
    width: 60%;
}
.plant-registration .checkbox input[type="checkbox"] {
    width: auto;
    height: auto !important;
}
.wh_head {
    color: #d5b000;
    background: #000;
    text-align: center;
    margin: 0px auto 40px !important;
    padding: 25px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.plant-registration .btn  {
    background-color: #000;
    border: 2px solid #000;
    box-shadow: none;
    color: #d5b000;
    cursor: pointer;
    font-size: .95em;
    font-weight: 600;
    height: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: all .3s ease-in-out 0s;
    width: 110px;
}
.plant-registration .btn_download {
    background-color: green;
    border: 2px solid green;
    box-shadow: none;
    color: #ffff;
    cursor: pointer;
    font-size: .95em;
    font-weight: 600;
    height: 40px;
    margin-top: 30px;
    text-transform: uppercase;
    transition: all .3s ease-in-out 0s;
    width: 208px;
	line-height: 25px;
}
/* .footer_black
{
	float:left;
	width:100%;
	height:40px;
	background:#000;
} */

.freetree_head {width: 100%;float: left;text-align: center;padding: 30px 0;}
.freetree_head h2 {font-size: 28px;
    text-transform: none;
    width: 100%;
    float: left;
    margin: 0 0 10px;
    font-family: Questrial;
    font-weight: 300;
    letter-spacing: 2px;

}
.freetree_head img.fist_img {width: 13%;

margin: 0 10px;

display: inline-block;

float: none;

vertical-align: top;}
.freetree_head img.secd_img{width: 100%;

margin: 0 10px;

text-align: left;}
.partnershp_img {width: 23%;

float: none;
 
display: inline-block;

text-align: left;}
.partnershp_img  p {text-align: left;

font-size: 14px;

color: green;

padding: 0px 0 0;

margin: 0;

font-weight: bold;}
@media screen and (max-width:991px)
{
	.plant-registration  label{text-align:left; }
}
@media screen and (max-width:767px)
{
	.center_div {
    margin: 0 auto 0px;
    width: 100%;
}
.wh_head
{
	font-size:18px;
}
.freetree_head h2 {font-size:18px;}
.freetree_head img.fist_img {width:30%;}
.partnershp_img {width:45%;}
.freetree_head img.secd_img {width:100%;}
.plant-registration  label{text-align:left; font-size:14px;}
.plant-registration input {height: 30px;}
.partnershp_img  p  {font-size:12px;}
}