
input[type="text"], input[type="search"], input[type="email"], input[type="url"]{
	 width:100%;
}
.plant-registration {
    margin: auto;
    width: 100%;
	margin-bottom:40px;
	float:left;
}
.plant-registration form {
    background-color: #fcfcfc;
    border: 2px solid #f4f4f4;
    box-shadow: 1px 1px 5px 1px #eee;
    padding: 20px;
}
.plant-registration h5 {
    color: #d5b000;
}
.plant-registration label {
    color: #292929;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
	font-family: Questrial;
	font-size:16px;
    margin-top: 20px;
}
#csvfile {
    height: auto;
}
.red {
    color: red;
}
.plant-registration input {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #ddd inset;
    color: #555;
    font-size: 14px;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    max-width: 100%;
}
.plant-registration select {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    box-shadow: 0 1px 3px #ddd inset;
    font-size: 18px;
    font-weight: bold;
	height: 40px;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
}
.center_div {
    margin: 0 auto 0px;
    width: 60%;
}

.bs-example .container{
	padding:0px;
}
.plant-registration .checkbox input[type="checkbox"] {
    width: auto;
    height: auto !important;
}
.wh_head {
    color: #d5b000;
    background: #000;
    text-align: center;
    margin: 0px auto 40px !important;
    padding: 25px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.plant-registration .wh_btn  {
    background-color: #000;
    border: 2px solid #000;
    box-shadow: none;
    color: #d5b000;
    cursor: pointer;
    font-size: .95em;
    font-weight: 600;
    height: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: all .3s ease-in-out 0s;
    width: 110px;
}

.wh_download {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 0;
}
.footer_black
{
	float:left;
	width:100%;
	height:40px;
	background:#000;
	position:absolute;
	bottom:0px;
}

.wh_download {
    float: right;
}
.wh_sub_head {
    float: left;
    width: 100%;
	font-family: Questrial;
	padding-bottom:25px;
    text-align: center;
}

@media screen and (max-width:767px)
{
	.center_div {
    margin: 0 auto 0px;
    width: 100%;
}
.wh_head
{
	font-size:18px;
}
.wh_download
{
	margin-bottom:15px;
}
}