/*
HEADER HORIZONTAL
================================================ */
/* HEADER */
#header {
	padding: 1em 0;
	transition: padding .3s ease-in-out;
	height: auto;
	text-align: inherit;
}
#header,
#header .hgroup {
	display: block;
}
.header-bar {
	float: left;
}

/* SITE LOGO */
#site-logo {
	font-size: 1.9em;
	margin: 10px 0 0;
}
#headerwrap.fixed-header #site-logo img {
	max-height: 30px;
}

/* SITE DESCRIPTION */
#site-description {
	font-size: .9em;
	margin: 5px 0;
}

/* SOCIAL WIDGET */
#header .social-widget {
	float: right;
	margin: 15px 0 0;
}

/* SEARCHFORM */
#header #searchform-wrap {
	margin: 12px 10px 0;
	float: right;
}
#headerwrap #searchform #s {
	left: auto;
	right: 0;
}
#header #searchform #s:focus,
#header #searchform:hover #s {
	padding-left: 1.25em;
}

/* header horizontal main nav */
body:not(.mobile_menu_active) #main-nav {
	text-align: right;
}
#main-nav {
	float: right;
	width: auto;
}
.home #main-nav ul {
	bottom: auto;
	transform-origin: top;
}
.home #main-nav ul:before {
	bottom: auto;
    top: -11px;
	border-top: none;
	border-bottom: 11px solid #fff;
}
.home #main-nav ul:after {
	bottom: auto;
    top: -10px;
	border-top: none;
    border-bottom: 10px solid #000;
}

/* FIXED-HEADER */
#headerwrap.fixed-header .header-bar,
#headerwrap.fixed-header .social-widget,
#headerwrap.fixed-header #searchform-wrap {
	display: block;
}
#headerwrap.fixed-header #main-nav {
	max-width: none;
}
#headerwrap.fixed-header #site-logo {
	font-size: 1.4em;
	margin: 20px 0;
}
#headerwrap.fixed-header #header {
	padding: 0;
}

/* Mobile menu active header */
.mobile_menu_active.header-horizontal #headerwrap,
.mobile_menu_active.header-horizontal #header {
	height: auto !important;
}

/* Mobile menu active social widget */
.mobile_menu_active.header-horizontal #header .social-widget {
	margin: 0 0 1em;
	float: none;
}

/* Mobile menu active searchform */
.mobile_menu_active.header-horizontal #headerwrap #searchform #s {
	margin: auto;
	padding: 5px 30px 5px 35px;
	position: static;
	height: auto;
}
.mobile_menu_active.header-horizontal #headerwrap #searchform .icon-search:before {
	font-size: 18px;
	margin: 0;
	padding: 3px;
	width: 16px;
	height: 16px;
}

/* header horizontal dropdown menu style */
.dropdown-menu-style.mobile_menu_active .header-bar {
	float: left;
}
.dropdown-menu-style.mobile_menu_active .header-bar #site-description {
	display: none;
}
.dropdown-menu-style.mobile_menu_active #headerwrap #mobile-menu {
	float: right;
}
.dropdown-menu-style.mobile_menu_active #header .social-widget,
.dropdown-menu-style.mobile_menu_active #header #searchform-wrap {
	float: right;
	margin-bottom: 0;
}
.dropdown-menu-style.mobile_menu_active #header .social-widget {
	margin-right: 65px;
}
.dropdown-menu-style.mobile_menu_active #header #searchform {
	width: 30px;
}
.dropdown-menu-style.mobile_menu_active #header #searchform #s {
	padding-left: 0;
	padding-right: 0;
	position: absolute;
}
.dropdown-menu-style.mobile_menu_active.header-horizontal #headerwrap #searchform .icon-search:before {
	padding: 3px 6px;
}
.dropdown-menu-style.mobile_menu_active #header #searchform:hover #s {
	padding-left: 2em;
	padding-right: 2em;
}
.dropdown-menu-style.mobile_menu_active #headerwrap #main-nav {
	margin: auto;
	left: auto;
	right: 0;
	top: 45px;
}
.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown {
	left: auto;
	right: 3%;
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
}
body:not(.fixed-header-on).admin-bar.nav-bar-top.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown,
.nav-bar-top.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown {
	top: 28px;
}
.nav-bar-top.dropdown-menu-style.mobile_menu_active #headerwrap #main-nav {
	top: 45px;
}
.dropdown-menu-style.mobile_menu_active.header-horizontal #headerwrap.fixed-header .social-widget,
.dropdown-menu-style.mobile_menu_active.header-horizontal #headerwrap.fixed-header #searchform-wrap {
	display: block;
}
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header #site-logo {
	margin-top: 15px;
}
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header .social-widget,
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header #searchform-wrap {
	margin-top: 10px;
}