/*
HEADER MENU BAR
================================================ */
/* HEADERWRAP */
#headerwrap {
	min-height: 55px;
	background-image: none !important;
}
#header {
	display: block;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	max-width: none;
}
#header .hgroup {
	display: block;
}
#main-nav {
	margin: auto;
}
.home #main-nav ul {
    bottom: auto;
    top: 100%;
    transform-origin: top;
}
.home #main-nav ul:before {
    bottom: auto;
    top: -8px;
    border-top: none;
    border-bottom: 8px solid #fff;
}
.home #main-nav ul:after {
    bottom: auto;
    top: -10px;
    border-top: none;
    border-bottom: 10px solid #000;
}
.home #main-nav ul ul {
    top: -5px;
}

/* SITE LOGO */
.header-bar,
#header .social-widget,
#headerwrap #searchform-wrap {
	display: none;
}
.mobile_menu_active #headerwrap #searchform-wrap,
.mobile_menu_active #headerwrap.fixed-header .header-bar,
.mobile_menu_active #headerwrap.fixed-header .social-widget,
.mobile_menu_active #headerwrap.fixed-header #searchform-wrap {
	display: none;
}

/* header menu bar dropdown menu style */
.dropdown-menu-style.mobile_menu_active #header,
.dropdown-menu-style.mobile_menu_active #header .hgroup {
	position: static;
}