/*
HEADER LEFTPANE
================================================ */
.body-overlay {
	left: 280px;
	right: auto;
}

/* #body */
#body {
	padding-left: 340px;
	padding-right: 4%;
}
.full_width #body {
	padding-left: 280px;
	padding-right: 0;
}
#footerwrap {
	margin-left: 280px;
}
.row_inner {
	width: auto;
	max-width: 90%;
	margin: 0 auto;
}
.iphone.sidemenu-active.mobile-menu-visible {
	position: fixed;
}

body:not(.mobile_menu_active) #layout {
	max-width: 100%;
}

/* builder row */
.full_width .module_row.fullwidth .row_inner {
	 max-width: 100%;
}

/* HEADERWRAP */
#headerwrap {
	float: left;
	width: 280px;
	height: 100%;
	left: 0;
	border-bottom: none;
	border-right: 1px solid rgba(0,0,0,.1);
	background-position: inherit;
	background-repeat: inherit;
	overflow-y: auto;
}
.header-leftpane #pagewrap #headerwrap {
	position: fixed !important;
}
.transparent-header #headerwrap {
	background-color: rgba(0,0,0,.3);
}
#header {
	text-align: inherit;
	position: absolute;
	height: 100% !important;
	width: 100%;
	max-width: none;
	padding: 2em 1.5em;
}
#header,
#header .hgroup {
	display: block;
}
#header .hgroup {
	display: block;
	min-height: 100%;
}
#gallery-controller .carousel-wrap {
	margin-bottom: 35px;
}
#gallery-controller .carousel-nav-wrap a {
	top: auto;
	bottom: 5px;
}

.touch #header {
	overflow-y:auto;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

/* SITE LOGO */
#site-logo {
	font-size: 1.6em;
	padding-top: 0;
	letter-spacing: .03em;
	margin: 0 0 .5em;
}

/* SITE DESCRIPTION */
.mobile_menu_active #site-description,
#site-description {
	margin: 0 0 1.5em;
	letter-spacing: -.05em;
}

/* SOCIAL WIDGET */
.social-widget {
	float: none;
	clear: both;
	display: block;
}

/* SEARCHFORM */
#headerwrap #searchform-wrap {
	float: none;
	clear: both;
	display: block;
	margin: 0 0 1.5em;
}
#searchform-wrap #searchform {
	width: auto; /* reset searchform width */
}
#headerwrap #searchform #s {
	width: 100%;
	margin: 0;
	background-color: #fff;
	color: #000;
	position: static;
	opacity: 1;
	box-sizing: border-box;
	transition: none;
}
#headerwrap #searchform .icon-search:before {
	border: none;
	background: none;
	color: #000;
}
#headerwrap #searchform #s:focus,
#headerwrap #searchform #s:hover,
#headerwrap #searchform .icon-search:hover + #s {
	width: 100%;
	background-color: #fff;
	padding-left: 2.25em;
	padding-right: 1.25em;
}

/* MAIN NAV */
#main-nav {
	float: none;
	clear: both;
	margin: 0 0 2em;
	text-align: inherit;
}
#main-nav ul {
	width: auto;	
}
#main-nav li:not(.themify-widget-menu) > ul {
	border: none;
	background: none;
	display: block;
	position: static;
	margin: 0;
	padding: 0 0 0 1em;
	opacity: 1;
	transform: none;
	text-align: inherit;
}
#main-nav ul:after,
#main-nav ul:before {
	display: none;
}
#main-nav li {
	display: block;
}
#main-nav a {
	padding: .6em 0;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}
#main-nav ul a {
	width: auto;
	color: inherit;
	padding: .6em 0;
}
#main-nav ul li {
	float: none !important;
	width: auto !important;
}

/* dropdown icon */
#main-nav .menu-item-has-children .child-arrow:before,
#main-nav .page_item_has_children .child-arrow:before {
    content: "\e804"; /* ti-plus */
	font-family: 'themify_theme_icon';
	font-size: .9em;
	cursor: pointer;
    position: absolute;
    right: 0;
	top: 10px;
	transition: all 0.3s ease-in-out;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:before,
#main-nav .page_item_has_children .child-arrow.toggle-on:before {
    content: "\e805"; /* ti-plus */
}
#main-nav .menu-item-has-children > a .sub-arrow,
#main-nav .page_item_has_children > a .sub-arrow {
	display: none !important;
}

.header-leftpane #headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
.header-leftpane #headerwrap #main-nav > li > div.children,
.header-leftpane #headerwrap #main-nav > li > ul.children,
.header-leftpane #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.header-leftpane #headerwrap #main-nav > li > div.sub-menu,
.header-leftpane #headerwrap #main-nav > li > ul.sub-menu,
.header-leftpane #headerwrap #main-nav > li li > div.sub-menu,
.header-leftpane #headerwrap #main-nav > li li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
	padding-top: 0;
	padding-bottom: 0;
}
.header-leftpane #headerwrap #main-nav .has-sub-menu > .children > li > .toggle-on + ul.children,
.header-leftpane #headerwrap #main-nav > li > .toggle-on + div.children,
.header-leftpane #headerwrap #main-nav > li > .toggle-on + ul.children,
.header-leftpane #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.header-leftpane #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.header-leftpane #headerwrap #main-nav > li > .toggle-on + ul.sub-menu,
.header-leftpane #headerwrap #main-nav > li li > .toggle-on + div.sub-menu,
.header-leftpane #headerwrap #main-nav > li li > .toggle-on + ul.sub-menu {
	max-height: 2000px;
	min-height: initial;
}
#headerwrap #main-nav > li {
	position: relative;
}
#headerwrap #main-nav > li:last-child a,
#headerwrap #main-nav > li a {
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.3);
}
#headerwrap #main-nav > li li a {
	font-size: 0.95em;
	background: none;
	width: auto;
	margin: 0;
	color: inherit;
}

/* dropdown icon */
#main-nav .menu-item-has-children > a:after {
	display: none;
}

/* mobile menu active */
.header-leftpane.mobile-menu-visible {
	overflow-x: hidden;
}

/* header leftpane #body */
.mobile_menu_active.header-leftpane #footerwrap,
.mobile_menu_active.header-leftpane.full_width #footerwrap {
	margin-left: 0;
}
.mobile_menu_active.header-leftpane #body,
.mobile_menu_active.header-leftpane.full_width #body {
	padding-left: 0;
	padding-right: 0;
}
.mobile_menu_active.header-leftpane.full_width.mobile-menu-visible {
	left: 280px;
}
.mobile_menu_active.header-leftpane #sidebar {
	margin: auto;
}

/* SIDEMENU */
.mobile_menu_active.header-leftpane #mobile-menu.sidemenu {
	position: static;
	width: 100%;
	background: none;
	height: auto;
	overflow: hidden;
	overflow-y: inherit;
	padding: 0;
}

/* MOBILE MENU ACTIVE HEADERWRAP */
.mobile_menu_active.header-leftpane.sidemenu-left #headerwrap {
	left: 0;
}
.mobile_menu_active.header-leftpane #headerwrap {
	left: -280px;
	height: 100%;
}

/* MOBILE MENU ACTIVE HEADER */
.mobile_menu_active.header-leftpane #headerwrap #header {
	width: 100%;
	height: 100%;
	padding: 2em 1.5em;
	max-width: 100%;
}

/* MOBILE MENU ACTIVE SITE LOGO */
.mobile_menu_active.header-leftpane #headerwrap #site-logo {
	font-size: 2.2em;
	padding-top: 0;
	letter-spacing: .03em;
	margin: 0 0 .5em;
}

/* MOBILE MENU ACTIVE MENU ICON */
#headerwrap .menu-icon-inner,
#headerwrap .menu-icon-inner:before,
#headerwrap .menu-icon-inner:after {
	border: none;
}
.admin-bar.mobile_menu_active #headerwrap #menu-icon {
	top: 46px;
}
.mobile_menu_active #headerwrap #menu-icon {
	position: fixed;
	top: 32px;
	left: 0;
	right: auto;
	background-color: #000;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	z-index: 100000;
	transition: left .2s ease-in-out;
	transform: none;
	line-height: 1em;
	padding: 12px 8px;
}
.mobile_menu_active.header-leftpane.mobile-menu-visible #headerwrap #menu-icon {
	left: 280px;
}
.mobile_menu_active #headerwrap .menu-icon-inner {
	width: auto;
	height: auto;
}
.mobile_menu_active.header-leftpane #headerwrap #menu-icon-close {
	display: none;
}
.mobile_menu_active #headerwrap .menu-icon-inner:before {
	content: "\e806"; /* ti-angle-double-right */
	font-family: 'themify_theme_icon';
	font-size: 100%;
	position: static;
}
.mobile_menu_active.mobile-menu-visible #headerwrap .menu-icon-inner:before {
	content: "\e807"; /* ti-angle-double-left */
}

@media only screen and (min-width: 1201px) {
	/* builder row */
	.full_width .module_row .row_inner {
		 max-width: 96%;
	}
}