/*
HEADER OVERLAY
================================================ */
/* BODY OVERLAY */
.body-overlay {
	display: none !important;
}

/* HEADER */
#headerwrap {
	transition: all .5s ease-in-out;
	position: relative;
}
.mobile-menu-visible #headerwrap {
	height: 100vh;
	background-color: #000;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	color: #fff;
	min-height: 300px;
}
body.mobile-menu-visible:not(.fixed-header-on):not(.transparent-header) #headerwrap {
	position: fixed !important;
}
body.mobile-menu-visible:not(.fixed-header-on):not(.transparent-header).admin-bar #headerwrap {
	top: 32px;
}
#headerwrap #header {
	text-align: inherit;
	padding: 1.225em 0;
	font-size: 1.3em;
	display: block;
	height: auto;
}
.mobile-menu-visible #header,
.mobile-menu-visible #header a,
.mobile_menu_active.mobile-menu-visible .sidemenu,
.mobile-menu-visible .sidemenu {
	color: #fff;
}
body:not(.mobile-menu-visible) #header .hgroup {
	display: block;
}

/* SITE LOGO */
#site-logo {
	font-size: 1.5em;
	margin: 0 .3em 0 0;
	display: inline-block;
	vertical-align: middle;
}
.mobile-menu-visible #site-logo {
	position: relative;
	z-index: 9999;
}

/* SITE DESCRIPTION */
.mobile_menu_active #site-description,
#site-description {
	margin: 5px 0;
	font-size: .75em;
	display: block;
}
.mobile-menu-visible #site-description {
	display: none;
}

/* SOCIAL WIDGET */
#headerwrap .social-widget {
	margin-top: 0;
}
.social-links .icon-medium i,
.social-widget div.rss a {
	background-color: transparent;
	font-size: 1.3em;
	padding: 0.1em 0.15em;
	width: auto;
	height: auto;
}
.social-widget div.rss a:before {
	font-size: 100%;
}

/* SEARCHFORM */
#headerwrap #searchform-wrap {
	vertical-align: top;
	margin: -8px 25px 0 10px;
}
#headerwrap #searchform #s {
	padding: 10px;
	right: auto;
	left: 0;
}
#headerwrap #searchform .icon-search:before {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 11px;
	font-size: 24px;
	right: auto;
	left: 0;
	top: 0;
}
#headerwrap #searchform:focus .icon-search:before,
#headerwrap #searchform:hover .icon-search:before {
	color: #000;
}
#headerwrap #searchform #s:focus,
#headerwrap #searchform #s:hover,
#headerwrap #searchform .icon-search:hover + #s {
	background-color: #fff;
	color: #000;
	width: 240px;
}
#header #searchform #s:focus,
#header #searchform:hover #s {
	padding-right: 1.25em;
}

/* MENU ICON */
#headerwrap #menu-icon {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	text-decoration: none;
	z-index: 2;
}
.slide-cart-visible #headerwrap #menu-icon,
.mobile-menu-visible #headerwrap #menu-icon {
	display: none;
}

/* SLIDE MENU ICON CLOSE */
#menu-icon-close {
	display: block;
	transform-origin: center;
	transition: all .3s linear;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.mobile_menu_active #menu-icon-close:before,
.mobile_menu_active #menu-icon-close:after,
#menu-icon-close:before,
#menu-icon-close:after {
	content: '';
	display: block;
	border-top: 2px solid;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
}
#menu-icon-close:before {
	transform: rotateZ(-45deg);
}
#menu-icon-close:after {
	transform: rotateZ(45deg);
}
.mobile-menu-visible #headerwrap #menu-icon-close:hover {
	transform: rotate(90deg);
}
.mobile-menu-visible #headerwrap #menu-icon-close {
	position: fixed;
	top: 1.2em;
	right: 2em;
}

/* SLIDE MENU STYLES */
.mobile_menu_active .sidemenu,
.sidemenu {
	padding: 50px 25px;
	color: #000;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 11111;
	transition: all .2s ease-in-out;
	box-sizing: border-box;
}
#mobile-menu.sidemenu-on {
	display: block;
	text-align: center;
	width: 100%;
	padding: 0;
	padding-top: 80px;
}
.mobile-menu-visible #mobile-menu.sidemenu-on .overlay-menu-sticky {
	display: -ms-flexbox;
	display: flex;
    flex-direction: column;
    justify-content: center;
	min-height: 100%;
}

/* MAIN NAV */
#headerwrap #main-nav {
	float: none;
	clear: both;
	margin: 1.5em auto 2em;
	text-align: left;
	width: 360px;
	max-width: 100%;
	letter-spacing: 0.03em;
}
#main-nav ul li {
	float: none !important;
	width: auto !important;
}
#main-nav ul a, 
#main-nav .current_page_item ul a, 
#main-nav ul .current_page_item a, 
#main-nav .current-menu-item ul a, 
#main-nav ul .current-menu-item a {
	border-top: none;
	padding: 0.45em 0 0.6em;
}
#main-nav li:not(.themify-widget-menu) > ul {
	border: none;
	background: none;
	position: static;
	width: auto;	
	padding: .5em 0;
	margin: 0 0 0 1em;
	display: none;
	opacity: 1;
	transform: none;
	overflow: inherit;
	text-align: inherit;
}
#main-nav ul:after,
#main-nav ul:before {
	display: none;
}
#headerwrap #main-nav .has-mega-column > .children,
#headerwrap #main-nav .has-mega-column > .children > li > ul,
#headerwrap #main-nav .has-mega-column > .sub-menu,
#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul,
#headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu {
	display: none;
	opacity: 1;
	transform: none;
}
#main-nav li {
	display: block;
}
#main-nav a {
	padding: .45em 0 0.8em;
	width: 100%;
	font-weight: 300;
}
#main-nav li a {
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	padding: .45em 0 0.775em;
	margin: 0;
}
#main-nav ul a {
	padding: 0.45em 0 0.6em;
	width: auto;
	background: none;
	color: inherit;
	margin: 0;
}
.mobile_menu_active #headerwrap #main-nav ul a,
#headerwrap #main-nav ul a {
	font-size: 0.9em;
	width: auto;
	color: inherit;
}

/* dropdown icon */
#main-nav .menu-item-has-children > a:after {
	display: none;
}
#main-nav .page_item_has_children .child-arrow:before,
#main-nav .menu-item-has-children .child-arrow:before {
    content: "\e804"; /* ti-plus */
	font-family: 'themify_theme_icon';
	font-size: 0.65em;
	cursor: pointer;
    position: absolute;
    right: 0;
	top: 16px;
	transition: transform 0.3s ease-in-out;
}
#main-nav .page_item_has_children .page_item_has_children .child-arrow:before,
#main-nav .menu-item-has-children .menu-item-has-children .child-arrow:before {
	top: 6px;
}
#main-nav .page_item_has_children .child-arrow.toggle-on:before,
#main-nav .menu-item-has-children .child-arrow.toggle-on:before {
    content: "\e805"; /* ti-minus */
}
#main-nav .page_item_has_children > a .sub-arrow,
#main-nav .menu-item-has-children > a .sub-arrow {
	display: none !important;
}
#headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
#headerwrap #main-nav > li > div.children,
#headerwrap #main-nav > li > ul.children,
#headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
#headerwrap #main-nav > li > div.sub-menu,
#headerwrap #main-nav > li > ul.sub-menu,
#headerwrap #main-nav > li li > div.sub-menu,
#headerwrap #main-nav > li li > ul.sub-menu {
	padding-top: 0;
	padding-bottom: 0;
	display: block;
}
#headerwrap #main-nav .has-sub-menu > .children > li > .child-arrow:not(.toggle-on) + ul.children,
#headerwrap #main-nav > li > .child-arrow:not(.toggle-on) + div.children,
#headerwrap #main-nav > li > .child-arrow:not(.toggle-on) + ul.children,
#headerwrap #main-nav .has-sub-menu > .sub-menu > li > .child-arrow:not(.toggle-on) + ul.sub-menu,
#headerwrap #main-nav > li > .child-arrow:not(.toggle-on) + div.sub-menu,
#headerwrap #main-nav > li > .child-arrow:not(.toggle-on) + ul.sub-menu,
#headerwrap #main-nav > li li > .child-arrow:not(.toggle-on) + div.sub-menu,
#headerwrap #main-nav > li li > .child-arrow:not(.toggle-on) + ul.sub-menu {
	font-size: 0;
	opacity: 0;
	transition: opacity .5s, font-size .5s, margin .5s, max-height .5s;
}

#main-nav > li > a:hover,
#main-nav ul a:hover {
	color: inherit;
	opacity: 0.8;
	background: none;
}
#headerwrap #main-nav li:not(.themify-widget-menu) > ul ul {
	height: auto;
	width: auto;
	float: none;
}

/* FIXED HEADER */
.mobile-menu-visible #headerwrap.fixed-header,
.mobile-menu-visible #headerwrap.fixed-header #header {
	height: 100vh !important;
}

#headerwrap.fixed-header #header {
	padding-top: 10px;
	padding-bottom: 10px;
}
.mobile-menu-visible  #headerwrap.fixed-header #header {
	padding: 1.225em 0;
}
#headerwrap.fixed-header .header-bar,
.mobile-menu-visible #headerwrap.fixed-header .header-widget {
    display: block;
}
.mobile-menu-visible #headerwrap.fixed-header .social-widget,
.mobile-menu-visible #headerwrap.fixed-header #searchform-wrap {
	display: inline-block;
}
#headerwrap.fixed-header .header-bar {
	display: block;
}
#headerwrap.fixed-header #main-nav {
	margin: 1.5em auto;
}
.sidemenu-right,
.sidemenu-right #headerwrap.fixed-header {
	left: 0;
}

/* ADMIN BAR */
.admin-bar #mobile-menu.sidemenu-on {
	top: 32px;
}

/* ANIMATION */
#headerwrap .social-widget,
#headerwrap #searchform-wrap,
#headerwrap #main-nav,
#headerwrap .header-widget {
	transition: all 0.3s ease;
}
.mobile-menu-visible #headerwrap .social-widget,
.mobile-menu-visible #headerwrap #searchform-wrap {
	animation: fadeInDown 0.3s alternate;
	animation-timing-function: linear;
}
.mobile-menu-visible #headerwrap #main-nav {
	animation: fadeInDown .5s alternate;
	animation-timing-function: linear;
}
@keyframes fadeInDown {
	0% {
		transform: translate(0, -20px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

/* NICESCROLL */
.nicescroll-rails > div {
	z-index: 111119;
}

/* MOBILE MENU ACTIVE */
.mobile_menu_active #mobile-menu.sidemenu {
	background-color: transparent;
	padding-bottom: 50px;
	left: auto;
}
.mobile-menu-visible.mobile_menu_active.sidemenu-right,
.mobile-menu-visible.mobile_menu_active.sidemenu-right #headerwrap.fixed-header,
.mobile_menu_active.sidemenu-right,
.mobile_menu_active.sidemenu-right #headerwrap.fixed-header {
	left: 0;
}

/* MOBILE MENU ACTIVE HEADERWRAP */
.mobile_menu_active.mobile-menu-visible #headerwrap {
	transition: all .2s ease-in-out;
}

/* MOBILE MENU ACTIVE SITE LOGO */
.mobile_menu_active.mobile-menu-visible #headerwrap #site-logo {
	position: fixed;
	left: 32px;
	padding: 0;
	margin: 0;
}
.mobile_menu_active.mobile-menu-visible #headerwrap #menu-icon-close {
	right: 32px;
}
.fixed-header-on #headerwrap + #headerwrap #menu-icon-close {
	display: none;
}

/* MOBILE MENU ACTIVE SEARCHFORM */
.mobile_menu_active #headerwrap #searchform-wrap {
	max-width: 390px;
	margin: 1em auto;
	display: block;
}
.mobile_menu_active #headerwrap #searchform {
	width: auto;
	margin: 0;
}
.mobile_menu_active #headerwrap #searchform .icon-search:before {
	padding: 15px;
	border: none;
	right: auto;
	left: 0;
}
.mobile_menu_active #headerwrap #searchform #s:focus,
.mobile_menu_active #headerwrap #searchform #s:hover,
.mobile_menu_active #headerwrap #searchform .icon-search:hover + #s {
	width: 100%;
}

/* MOBILE MENU ACTIVE MAIN NAV */
.mobile_menu_active #headerwrap #main-nav {
	font-size: .7em;
}
.mobile_menu_active #headerwrap #main-nav li li > a {
	padding: 0.45em 0 0.6em;
}
.mobile_menu_active #headerwrap #main-nav li > a,
.mobile_menu_active #headerwrap #main-nav li:last-child > a {
	border-bottom: 1px solid rgba(255,255,255,0.15);
}
.mobile_menu_active.no-touch #main-nav li:hover > ul,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul,
.mobile_menu_active #headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu {
	display: none;
	color: inherit;
}
.mobile_menu_active #headerwrap #main-nav a:hover,
.mobile_menu_active #headerwrap #main-nav ul a:hover {
	color: inherit;
	opacity: 0.8;
}
.mobile_menu_active.mobile-menu-visible #headerwrap.fixed-header .social-widget,
.mobile_menu_active.mobile-menu-visible #headerwrap.fixed-header #searchform-wrap {
	display: block;
}
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:before {
	top: 9px;
}

@media screen and (max-width: 760px) {
	#headerwrap .social-widget,
	.mobile_menu_active #headerwrap #searchform-wrap,
	#headerwrap #main-nav {
		max-width: 275px;
		margin-left: auto;
		margin-right: auto;
	}
	#site-description {
		display: none;
	}
	
	#header .hgroup {
		display: block;
	}
	.mobile_menu_active #mobile-menu.sidemenu {
		padding-top: 0;
		padding-bottom: 180px;
		top: 100px;
	}
	.mobile-menu-visible #headerwrap #menu-icon-close {
		display: none;
	}
	.mobile-menu-visible #headerwrap #menu-icon {
		transform-origin: center;
		display: block;
		right: 0;
	}
	.mobile-menu-visible .menu-icon-inner {
		height: 25px;
		width: 25px;
	}
	.mobile-menu-visible .menu-icon-inner:before,
	.mobile-menu-visible .menu-icon-inner:after {
		top: 50%;
		border-bottom: none;
		height: auto;
	}
	.mobile-menu-visible .menu-icon-inner:before {
		transform: rotateZ(-45deg);
	}
	.mobile-menu-visible .menu-icon-inner:after {
		transform: rotateZ(45deg);
	}
}