<div lang=EN-GB link="#006600" vlink="#954F72" style='tab-interval:36.0pt'>

<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:-1610611985 1107304683 0 0 415 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-520092929 1073786111 9 0 415 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
a:link, span.MsoHyperlink
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:#006600;
	mso-text-animation:none;
	text-decoration:none;
	text-underline:none;
	text-decoration:none;
	text-line-through:none;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:#954F72;
	mso-themecolor:followedhyperlink;
	text-decoration:underline;
	text-underline:single;}
span.blue
	{mso-style-name:blue;
	mso-style-unhide:no;
	mso-style-parent:"";}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-size:11.0pt;
	mso-ansi-font-size:11.0pt;
	mso-bidi-font-size:11.0pt;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;
	mso-header-margin:36.0pt;
	mso-footer-margin:36.0pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<div class=WordSection1>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=700
 style='width:525.0pt;mso-cellspacing:0cm;border:solid #006600 1.0pt;
 mso-border-alt:solid #006600 .75pt;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td style='border:none;padding:0cm 0cm 0cm 0cm'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=700
   style='width:525.0pt;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
   3.75pt 3.75pt 3.75pt 3.75pt'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
    <td width=526 style='width:394.5pt;border:none;border-right:solid #006600 1.0pt;
    mso-border-right-alt:solid #006600 .75pt;'></td>
    <td width=154 rowspan=5 style='width:115.5pt;background:#DFE8BF;padding:
    3.75pt 3.75pt 3.75pt 3.75pt'>
    <div align=center>
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=146
     style='width:109.5pt;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
     0cm 0cm 0cm 0cm'>
     <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:52.5pt'>
      <td width=154 style='width:115.5pt;padding:0cm 0cm 0cm 0cm;height:52.5pt'>
      <p class=MsoNormal><a href="http://www.greenearthappeal.org/"><span
      style='mso-fareast-font-family:"Times New Roman";mso-no-proof:yes'><img
      border=0 width=148 height=64 id="_x0000_i1025"
      src="http://www.greenearthappeal.org/graphics/signaturev2/gea_logo.gif"
      alt="GREEN EARTH APPEAL"></span></a><span style='font-size:12.0pt;
      mso-fareast-font-family:"Times New Roman"'></span></p>
      </td>
     </tr>
     <tr style='mso-yfti-irow:1;height:22.5pt'>
      <td width=154 style='width:115.5pt;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
      <p class=MsoNormal align=center style='text-align:center'><a
      href="http://www.greenearthappeal.org/"><span style='mso-fareast-font-family:
      "Times New Roman";mso-no-proof:yes'><img border=0 width=146 height=34
      id="_x0000_i1026"
      src="http://www.greenearthappeal.org/graphics/signaturev2/btn_website.jpg"
      alt="Visit Our Website"></span></a><span style='font-size:12.0pt;
      mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span></p>
      </td>
     </tr>
     <tr style='mso-yfti-irow:2;height:22.5pt'>
      <td width=154 style='width:115.5pt;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
      <p class=MsoNormal align=center style='text-align:center'><a
      href="http://twitter.com/greenearthapp"><span style='mso-fareast-font-family:
      "Times New Roman";mso-no-proof:yes'><img border=0 width=146 height=32
      id="_x0000_i1027"
      src="http://www.greenearthappeal.org/graphics/signaturev2/btn_twitter.jpg"
      alt="Follow Us On Twitter"></span></a><span style='font-size:12.0pt;
      mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span></p>
      </td>
     </tr>
     <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:22.5pt'>
      <td width=154 style='width:115.5pt;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
      <p class=MsoNormal align=center style='text-align:center'><a
      href="http://www.facebook.com/pages/Green-Earth-Appeal/113538891999655"><span
      style='mso-fareast-font-family:"Times New Roman";mso-no-proof:yes'><img
      border=0 width=146 height=32 id="_x0000_i1028"
      src="http://www.greenearthappeal.org/graphics/signaturev2/btn_facebook.jpg"
      alt="Find Us On Facebook"></span></a><span style='font-size:12.0pt;
      mso-fareast-font-family:"Times New Roman"'></span></p>
      </td>
     </tr>
    </table>
    </div>
    </td>
   </tr>
   <tr style='mso-yfti-irow:1;height:7.5pt'>
    <td width=526 style='width:394.5pt;border:none;border-right:solid #006600 1.0pt;
    mso-border-right-alt:solid #006600 .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt;
    height:7.5pt'>
    <p class=MsoNormal><span style='font-size:8.5pt;font-family:"Arial","sans-serif";
    mso-fareast-font-family:"Times New Roman";color:#006600'>(T) 020 8798 0476&nbsp;&nbsp;<span
    style='mso-spacerun:yes'>  </span>|&nbsp;(F) 0871 315
    1358&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;(E) <a
    href="mailto:marvin@greenearthappeal.org">marvin@greenearthappeal.org</a><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2;height:7.5pt'>
    <td width=526 style='width:394.5pt;border:none;border-right:solid #006600 1.0pt;
    mso-border-right-alt:solid #006600 .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt;
    height:7.5pt'>
    <p class=MsoNormal><span style='font-size:8.5pt;font-family:"Arial","sans-serif";
    mso-fareast-font-family:"Times New Roman";color:#006600'>(W) <a
    href="http://www.greenearthappeal.org/">www.greenearthappeal.org</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
    href="http://twitter.com/greenearthapp">Follow Us On <span
    style='font-size:11.0pt;font-family:"Calibri","sans-serif";mso-ascii-theme-font:
    minor-latin;mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:
    minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
    mso-bidi-theme-font:minor-bidi;color:windowtext'><span style='mso-field-code:
    " HYPERLINK \0022http\:\/\/twitter\.com\/greenearthapp\0022 "'><span
    style='font-size:8.5pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
    "Times New Roman";color:#006600;mso-no-proof:yes'><img border=0 width=55
    height=11 id="_x0000_i1029"
    src="http://www.greenearthappeal.org/graphics/signaturev2/twitter_small.gif"
    alt=Twitter></span></span></span></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
    href="http://www.facebook.com/pages/Green-Earth-Appeal/113538891999655">Find
    Us On <span style='font-size:11.0pt;font-family:"Calibri","sans-serif";
    mso-ascii-theme-font:minor-latin;mso-fareast-font-family:"Times New Roman";
    mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-latin;
    mso-bidi-font-family:"Times New Roman";mso-bidi-theme-font:minor-bidi;
    color:windowtext'><span style='mso-field-code:" HYPERLINK \0022http\:\/\/www\.facebook\.com\/pages\/Green-Earth-Appeal\/113538891999655\0022 "'><span
    style='font-size:8.5pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
    "Times New Roman";color:#006600;mso-no-proof:yes'><img border=0 width=50
    height=10 id="_x0000_i1030"
    src="http://www.greenearthappeal.org/graphics/signaturev2/facebook_small.gif"
    alt=Facebook></span></span></span></a><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:3;height:7.5pt'>
    <td width=526 nowrap style='width:394.5pt;border-top:none;border-left:none;
    border-bottom:solid #006600 1.0pt;border-right:solid #006600 1.0pt;
    mso-border-bottom-alt:solid #006600 .75pt;mso-border-right-alt:solid #006600 .75pt;
    padding:3.75pt 3.75pt 3.75pt 3.75pt;height:7.5pt'>
    <p class=MsoNormal><span style='font-size:8.5pt;font-family:"Arial","sans-serif";
    mso-fareast-font-family:"Times New Roman";color:#006600'>(P) Green Earth
    Appeal, Hollinwood Business Centre, Albert St, Oldham, OL8 3QL.<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:4;height:22.5pt'>
    <td width=526 style='width:394.5pt;border:none;border-right:solid #006600 1.0pt;
    mso-border-right-alt:solid #006600 .75pt;background:#E7EEF7;padding:3.75pt 3.75pt 3.75pt 3.75pt;
    height:22.5pt'>
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
     style='mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
     <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
      <td width=20 valign=top style='width:15.0pt;padding:0cm 0cm 0cm 0cm'>
      <p class=MsoNormal><span style='mso-fareast-font-family:"Times New Roman";
      mso-no-proof:yes'><img border=0 width=19 height=12 id="_x0000_i1031"
      src="http://www.greenearthappeal.org/graphics/signaturev2/66.gif" alt="&quot;"></span><span
      style='font-size:12.0pt;mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span></p>
      </td>
      <td style='padding:0cm 0cm 0cm 0cm'>
      <p class=MsoNormal><span style='font-size:8.5pt;font-family:"Arial","sans-serif";
      mso-fareast-font-family:"Times New Roman";color:#4D7EC1'>On the opening
      day of the United Nations Climate Change Conference in Copenhagen, we are
      happy to welcome The Green Earth Appeal as a partner to the Billion Tree
      Campaign. Trees are a legacy for future generations. - <strong><span
      style='font-family:"Arial","sans-serif"'>United Nations Environment
      Programme</span></strong><o:p></o:p></span></p>
      </td>
      <td width=20 valign=bottom style='width:15.0pt;padding:0cm 0cm 0cm 0cm'>
      <p class=MsoNormal align=right style='text-align:right'><span
      style='mso-fareast-font-family:"Times New Roman";mso-no-proof:yes'><img
      border=0 width=19 height=12 id="_x0000_i1032"
      src="http://www.greenearthappeal.org/graphics/signaturev2/99.gif" alt="&quot;"></span><span
      style='font-size:12.0pt;mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span></p>
      </td>
     </tr>
    </table>
    </td>
   </tr>
   <tr style='mso-yfti-irow:5;height:22.5pt'>
    <td colspan=2 style='border:none;border-right:solid #006600 1.0pt;
    mso-border-right-alt:solid #006600 .75pt;background:#006600;padding:3.75pt 3.75pt 3.75pt 3.75pt;
    height:22.5pt'>
    <p class=MsoNormal align=center style='text-align:center'><b><span
    style='font-size:10.5pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
    "Times New Roman";color:white'>PLEASE DON'T PRINT THIS EMAIL UNLESS YOU
    REALLY REALLY NEED TO<o:p></o:p></span></b></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:6;mso-yfti-lastrow:yes;height:30.0pt'>
    <td colspan=2 style='background:#F7F9EE;padding:3.75pt 3.75pt 3.75pt 3.75pt;
    height:30.0pt'>
    <p class=MsoNormal><span style='font-size:8.5pt;font-family:"Arial","sans-serif";
    mso-fareast-font-family:"Times New Roman";color:#758831'>This email and any
    attachments to it may be confidential and are intended solely for the use
    of the individual to whom it is addressed. Any views or opinions expressed
    are solely those of the author and do not necessarily represent those of
    The Green Earth Appeal. If you are not the intended recipient of this
    email, you must neither take any action based upon its contents, nor copy
    or show it to anyone. Please contact the sender if you believe you have
    received this email in error. <o:p></o:p></span></p>
    </td>
   </tr>
  </table>
  </td>
 </tr>
</table>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>Please rate my email <span class=blue>
<a href="http://www.nicereply.com/green-earth-appeal/marvin-baker">http://www.nicereply.com/green-earth-appeal/marvin-baker</a></span></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</div>