/*  
Skin Name: Old Design
Version: 1.0
Description: Skin for Parallax
*/

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	font: normal 1em/1.62em "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #8d8d8d;
	background-color: #fff;
	word-wrap: break-word;
}
a {
	color: #6a94c6;
}

/* HEADINGS
================================================ */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Crete Round';
	line-height: 1.4em;
	margin: 1.6em 0 .6em;
	font-weight: normal;
}
h2 {
	font-size: 3em;
	line-height: 1em;
	margin: 0;
	padding: 0 0 .5em;
	text-transform: none;
	letter-spacing: normal;
}
h3 {
	font: normal 1.5em/1em Alice;
	margin: 0;
	padding: 0 0 2em;
}

/* FORM
================================================ */
/* form input */
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url] {
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	box-shadow: inset 0 0 3px rgba(0,0,0,.2);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 6px 10px;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, input[type=email]:focus, input[type=url]:focus {
	border-color: #c5c5c5;
	background-color: #eee;
}

/* form button */
input[type=reset], input[type=submit], button {
	border: 1px solid #5c7798;
	border-radius: 5px;
	background-color: #86b0e2;
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%,rgba(0,0,0,0.1) 100%);
	color: #fff;
	font-family: inherit;
	font-size: 0.9em;
	padding: 7px 20px;
}

/* form input:hover */
input[type=reset]:hover, input[type=submit]:hover, button:hover {
	background-color: #8ab6eb;
	color: #fff;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header .hgroup {
	color: inherit;
}

/* 
SITE LOGO
================================================ */
#site-logo {
	font: normal 4.3em/1em Vidaloka;
	margin: 0 0 20px;
	padding: 0;
	text-transform: none;
	letter-spacing: normal;
}

/* 
SITE DESCRIPTION
================================================ */
#site-description {
	font: normal 1.25em/1em Alice;
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
}

/* 
SOCIAL WIDGET
================================================ */
.social-widget {
	display: block;
}
.social-links .icon-medium i {
	padding: 6px;
}
.social-links .facebook.icon-medium i {
	background-color: #0763b8;
}
.social-links .twitter.icon-medium i {
	background-color: #00aeef;
}
.social-widget div.rss a {
	background-color: #f26522;
}

/* 
SEARCH FORM
================================================ */
#header #searchform #s {
	background-color: #f2f2f2;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
	color: #a9a9a9;
	font-family: 'Old Standard TT', serif;
	opacity: 1;
	width: 67px;
	padding: 3px 3px 3px 30px;
}
#headerwrap #searchform .icon-search:before {
	border: none;
	padding: 0;
	top: 50%;
	left: 8px;
	margin-top: -0.5em;
}

/* 
MAIN NAVIGATION
================================================ */
#main-nav a {
	font: normal 1em/1.3em Alice;
	padding: 20px 0;
	margin: 0 13px;
	text-transform: none;
}

/* sub-levels link */
#main-nav ul a, #main-nav .current_page_item ul a, #main-nav ul .current_page_item a, #main-nav .current-menu-item ul a, #main-nav ul .current-menu-item a {
	font: normal .85em/1.3em "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #636363;
}

/* dropdown ul */
#main-nav ul {
	background-color: #fff;
	border: solid 1px #ccc;
}
.home .fixed-nav-bar #main-nav ul:before,
#main-nav ul:before {
	border-bottom-color: #fff;
}
#main-nav ul ul:before {
	border-bottom-color: transparent;
	border-right-color: #fff;
}
.home .fixed-nav-bar #main-nav ul ul:before,
.home #main-nav ul ul:before {
	border-right-color: #ccc;
}
.home #main-nav ul:before {
	border-bottom: none;
	border-top-color: #fff;
}

/************************************************************************************
POST
*************************************************************************************/
/* post title */
.page-title,
.post-title,
.commentlist cite {
	font-family: 'Crete Round';
	letter-spacing: normal;
}
.page-title {
	font-size: 2.3em;
	line-height: 110%;
	text-transform: none;
}
.post-title {
	font-size: 1.6em;
	color: #6a94c6;
}
.post-meta {
	font-family: inherit;
	font-size: 0.75em;
	margin-bottom: 5px;
	opacity: 0.65;
}
.post-meta a {
	font-weight: bold;
}
.post-date {
	color: #8d8d8d;
	font-size: 0.8em;
	opacity: 0.65;
	margin: 0 0 10px;
}

/*
TEAM POST TYPE
================================================ */
.team-post .team-info .team-name {
	font: bold 100%/120% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.team-post .team-info .team-title {
	display: block;
	font: italic 100%/120% "Times New Roman", Times, serif;
}
.skillset-wrap h4 {
	font: bold 100%/120% Arial,Helvetica,sans-serif;
}

/************************************************************************************
POST NAV
*************************************************************************************/
.post-nav {
	font-family: inherit;
	font-size: 100%;
	letter-spacing: normal;
}
.post-nav a {
	color: #6a94c6;
}
.post-nav .arrow {
	color: #000;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
#commentform input[type=text] {
	width: 206px;
	margin-right: 5px;
}
#commentform label {
	font-weight: bold;
	color: #8d8d8d;
}
#commentform p {
	margin: 0 0 1.8em;
}

.comment-title,
#reply-title {
	font: normal 1.5em/1em Alice;
	font-size: 140%;
	text-transform: none;
	letter-spacing: normal;
}
.commentlist .avatar {
	width: 48px;
	height: 48px;
}
.commentlist .comment-time {
	font-size: 75%;
}
.commentlist .comment-reply-link {
	background-color: transparent;
    color: #6a94c6;
	font-family: inherit;
	font-size: 11px;
	font-weight: normal;
}
.commentlist .comment-reply-link:before {
	display: none;
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav a, .pagenav span {
	line-height: 100%;
	padding: 4px 0 2px;
	margin: 0 2px;
	vertical-align: middle;
	display: inline-block;
	zoom:1;
	*display:inline;
	min-width: 24px;
	min-height: 18px;
	text-align: center;
	border-radius: 10em;
	background-color: transparent;
}
.pagenav a {
	background-color: #86b0e2;
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%,rgba(0,0,0,0.1) 100%);	
	color: #fff;
	text-decoration: none;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.5);
	border: 1px solid #5c7798;
}
.pagenav .current,
.pagenav a:hover {
	background-color: transparent;
	border: 1px solid transparent;
	color: #8d8d8d;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	font-size: 0.9em;
}
.widgettitle {
	font-family: inherit;
	font-size: 1.1em;
	font-weight: bold;
}

/* feature posts widget */
.widget .feature-posts-list .feature-posts-title {
	color: #6a94c6;
	font-family: inherit;
}
.widget .feature-posts-list small {
	font-style: italic;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	color: #666;
}
#footer a {
    text-decoration: none;
    color: #999;
}
.footer-text {
	font-size: 0.75em;
}
.back-top a:before {
	color: #999;
}
#footer a:hover,
.back-top a:hover:before {
    color: #fff;
}