/************************************************************************************
MOBILE NAVIGATION
*************************************************************************************/
/* change max-width to trigger mobile menu active class */

/*
HEADER
================================================ */
/* reset absolute elements to static */
.mobile_menu_active .social-widget,
.mobile_menu_active #site-logo,
.mobile_menu_active #site-description  {
	position: static !important;
	float: none;
	clear: both;
	padding: 0;
	margin: 0;
}

.mobile_menu_active #header {
    height: auto;
    padding: 10px 0 5px;
}
.mobile_menu_active #headerwrap.fixed-header #header {
	text-align: inherit; /* make left text align on sticky header */
}
.mobile_menu_active.header-block .fixed-header#headerwrap #header {
	padding-top: 10px;
	padding-bottom: 10px;
}
.header-block #header,
body:not([class*='header-']) #header {
	height: 500px;
}
.header-block.mobile_menu_active .menu-icon-wrap,
body:not([class*='header-']).mobile_menu_active .menu-icon-wrap {
	background-color: #000;
	background-color: rgba(0,0,0,.8);
	min-height: 64px;
	z-index: 1;
	position: relative;
}
.header-block.mobile_menu_active #menu-icon,
body:not([class*='header-']).mobile_menu_active #header #menu-icon {
	right: 50%;
	-webkit-transform: translateX(50%) translateY(-50%);
	-moz-transform: translateX(50%) translateY(-50%);
	transform: translateX(50%) translateY(-50%);
	top: 50%;
}
body:not(.nav-bar-top).header-block.mobile_menu_active .menu-icon-wrap,
body:not([class*='header-']):not(.nav-bar-top).mobile_menu_active .menu-icon-wrap {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: inherit;
}
.fixed-header-on.header-block.mobile_menu_active #headerwrap .menu-icon-wrap,
body:not([class*='header-']).fixed-header-on.mobile_menu_active #headerwrap .menu-icon-wrap {
	position: absolute;
	right: 6%;
	z-index: auto;
	width: auto;
}

/*
SITE LOGO
================================================ */
.mobile_menu_active #site-logo {
	font-size: 30px;
	margin: 5px 0 5px;
}

/*
SITE DESCRIPTION
================================================ */
.mobile_menu_active #site-description {
	font-size: 0.95em;
    margin: 0 0 5px;
}

/*
SOCIAL WIDGET
================================================ */
.mobile_menu_active .social-widget {
	display: block;
	margin: 0 0 1em;
}

/*
SEARCHFORM
================================================ */
.mobile_menu_active #header #searchform-wrap {
	display: block;
	margin: 0 0 1em;
}
.mobile_menu_active #header #searchform {
	width: 100%;
}
.mobile_menu_active #header #searchform #s {
	opacity: 1;
	width: 100%;
	max-width: none;
	box-sizing: border-box;
	padding: 0.35em 2.5em 0.65em;
	position: static;
}
.mobile_menu_active #header #searchform .icon-search:before {
	color: #000;
	border: none;
}

/*
MOBILE NAV BUTTON
================================================ */
/* menu icon */
.mobile_menu_active #menu-icon {
	display: block;
	position: absolute;
	top: 50%;
	right: 3%;
	z-index: 1999;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
body:not([class*='header-']) #menu-icon,
.header-block.mobile_menu_active #menu-icon {
	top: 20px;
}

/* slide menu close */
.mobile_menu_active #menu-icon-close {
	display: block;
}

/*
MAIN NAV (MOBILE)
================================================ */
/* Mobile Menu Styles */
.mobile_menu_active .sidemenu {
	height: 100%;
	width: 300px;
	padding: 50px 25px 20px;
	background-color: #000;
	color: #fff;
	display: block;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	z-index: 11111;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-align: left;
}
.mobile_menu_active.admin-bar .sidemenu {
	top: 32px;
}
.mobile_menu_active #mobile-menu {
	right: -300px;
}
.mobile_menu_active #mobile-menu.sidemenu-on {
	right: 0;
}
.mobile_menu_active.sidemenu-active {
	position: relative;
}
.mobile_menu_active.sidemenu-active,
.mobile_menu_active.sidemenu-active #headerwrap {
	left: 0;
	-webkit-transition: left .2s ease-in-out;
	-moz-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out;
}
.mobile_menu_active.sidemenu-right,
.mobile_menu_active.sidemenu-right #headerwrap.fixed-header {
	left: -300px;
}
.mobile_menu_active.sidemenu-left,
.mobile_menu_active.sidemenu-left #headerwrap.fixed-header {
	left: 300px;
}
.mobile_menu_active.sidemenu-left #mobile-menu.sidemenu-on {
	left: 0;
}

body:not(.dropdown-menu-style).mobile_menu_active #pagewrap #main-nav-wrap {
	position: static;
	background-color: transparent;
}

/* main nav */
.mobile_menu_active #main-nav {
	clear: both;
	text-align: left;
	width: auto;
	max-width: none;
	margin: 0 0 15px;
	float: none;
}
.mobile_menu_active #main-nav li {
	clear: both;
	float: none;
	padding: 0;
	position: static;
	display: block;
}
.mobile_menu_active #main-nav a,
.mobile_menu_active #main-nav ul a {
	font: inherit;
	font-size: 1.1em;
	text-transform: inherit;
	background: none;
	width: auto;
	display: block;
	padding: 0.5em 0;
	margin: 0;
	color: #fff;
	border: none;
	letter-spacing: normal;
}
.mobile_menu_active #main-nav a:hover,
.mobile_menu_active #main-nav ul a:hover {
	background: none;
	color: #ffcc03;
}

/* dropdown */
.mobile_menu_active #main-nav ul {
	position: static;
	display: block;
	margin: 0;
	padding: 0 0 0 1em;
	background: none;
	border: none;
	opacity: 1;
	visibility: visible;
	-webkit-transform: none;
	transform: none;
	text-align: inherit;
}
.mobile_menu_active #main-nav ul:after,
.mobile_menu_active #main-nav ul:before,
.mobile_menu_active #main-nav ul ul:before {
	display: none;
}
.mobile_menu_active #main-nav ul ul {
	-webkit-transform: none;
	transform: none;
}

/* CSS 3 Animation menu elements */
.mobile_menu_active #main-nav li {
	-webkit-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	-webkit-transform: translate(40px, 0) !important;
	-ms-transform: translate(40px, 0) !important;
	-o-transform: translate(40px, 0) !important;
	transform: translate(40px, 0) !important;
	margin-left: 0;
	opacity: 0;
}
.mobile_menu_active.mobile-menu-visible #main-nav li {
	opacity: 1;
	-webkit-transform: translate(0, 0) !important;
	-ms-transform: translate(0, 0) !important;
	-o-transform: translate(0, 0) !important;
	transform: translate(0, 0) !important;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(5) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(6) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(7) {
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(8) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(9) {
  -webkit-transition-delay: 900ms;
  transition-delay: 900ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(10) {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(11) {
  -webkit-transition-delay: 1100ms;
  transition-delay: 1100ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(12) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(13) {
  -webkit-transition-delay: 1300ms;
  transition-delay: 1300ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(14) {
  -webkit-transition-delay: 1400ms;
  transition-delay: 1400ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(15) {
  -webkit-transition-delay: 1500ms;
  transition-delay: 1500ms;
}

.mobile_menu_active #headerwrap.fixed-header .header-bar,
.mobile_menu_active #headerwrap.fixed-header .social-widget,
.mobile_menu_active #headerwrap.fixed-header #searchform-wrap {
	display: block;
}

/* dropdown icon */
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:before {
    content: "\e804"; /* ti-plus */
	font-family: 'themify_theme_icon';
    font-size: 0.8em;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: .7em;
    padding: .5em;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    border-radius: 100%;
}
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:hover:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:hover:before {
    background: rgba(214,214,214,.4);
}
.mobile_menu_active #main-nav .page_item_has_children .child-arrow.toggle-on:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow.toggle-on:before {
	content: "\e805"; /* ti-minus */
}
.mobile_menu_active #headerwrap #main-nav .page_item_has_children > a .sub-arrow,
.mobile_menu_active #headerwrap #main-nav .menu-item-has-children > a .sub-arrow {
	display: none !important;
}
.mobile_menu_active #headerwrap #main-nav > li {
	position: relative;
}
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children > li > ul,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul,
.mobile_menu_active #headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	padding-top: 0;
	padding-bottom: 0;
}

.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children > li > ul.children,
.mobile_menu_active #headerwrap #main-nav > li > div.children,
.mobile_menu_active #headerwrap #main-nav > li > ul.children,
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > div.sub-menu li > div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > ul.sub-menu li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .children > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + div.children,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > div.sub-menu li > .toggle-on + div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > ul.sub-menu li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 2000px;
	min-height: initial;
}

/* header slider pagination */
.mobile_menu_active	#gallery-controller .carousel-wrap {
	visibility: hidden;
	opacity: 0;
}
.mobile_menu_active	#gallery-controller .carousel-nav-wrap a {
	left: 30px;
}
.mobile_menu_active	#gallery-controller a.carousel-next {
	left: auto;
	right: 30px;
}

/*
HEADER FULLHEIGHT
================================================ */
.mobile_menu_active.header-full-height #header {
	background-position: initial;
}
.mobile_menu_active.header-full-height #header {
	display: table-cell;
	vertical-align: middle;
}
.mobile_menu_active.header-full-height #header .hgroup {
	display: block;
}

/*
DROPDOWN MENU STYLE
================================================ */
.dropdown-menu-style.mobile_menu_active.header-block #header {
	height: 500px;
}
.dropdown-menu-style.mobile_menu_active.header-block #headerwrap {
	background-position: center;
}
.dropdown-menu-style.mobile_menu_active.header-block #headerwrap.fixed-header {
	background-color: rgba(0,0,0,.8) !important;
}
.dropdown-menu-style.mobile_menu_active.header-block .fixed-header#headerwrap #header,
.dropdown-menu-style.mobile_menu_active.header-block #header {
	padding: 0;
	max-width: none;
}
.dropdown-menu-style.mobile_menu_active #headerwrap #mobile-menu {
    position: static;
    width: auto;
    background: none;
    padding: inherit;
    overflow: inherit;
    text-align: inherit;
    height: auto;
}

/* Dropdown Menu Searchform */
.dropdown-menu-style.mobile_menu_active #header #searchform {
	width: 120px;
	margin: auto;
	transition: all .7s;
}
.dropdown-menu-style.mobile_menu_active #header #searchform:hover {
	width: 180px;
}

/* Main Nav Wrap */
.dropdown-menu-style.mobile_menu_active #headerwrap #main-nav-wrap {
	text-align: center;
}
.dropdown-menu-style.mobile_menu_active.header-block #headerwrap #main-nav-wrap {
	position: absolute;
	min-height: 60px;
}
.dropdown-menu-style.mobile_menu_active #headerwrap #main-nav {
	background: rgba(0,0,0,.8);
	display: none;
	width: 100%;
	max-width: 225px;
	margin: auto;
	margin-left: -113px;
	position: absolute;
	padding: 0;
	z-index: 1111;
	text-align: center;
	left:  50%;
	top: 100%;
	padding: 10px 16px;
	max-height: 420px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.dropdown-menu-style.mobile_menu_active.header-block #headerwrap #main-nav {
	bottom: 100%;
	top: auto;
}
.nav-bar-top.dropdown-menu-style.mobile_menu_active #headerwrap #main-nav,
.dropdown-menu-style.mobile_menu_active.header-block #headerwrap.fixed-header #main-nav {
	bottom: auto;
	top: 100%;
}
body:not(.mobile_menu_active).dropdown-menu-style #headerwrap #main-nav {
	display: block !important;
}
.dropdown-menu-style.mobile_menu_active #main-nav li {
	opacity: 1;
	-webkit-transform: none !important;
	transform: none !important;
	clear: both;
	float: none;
	display: block;
	border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.dropdown-menu-style.mobile_menu_active #main-nav li:first-child {
	border: none;
}
.dropdown-menu-style.mobile_menu_active #pagewrap #headerwrap #main-nav ul {
	padding: 0;
	display: block;
	max-height: none;
}
.dropdown-menu-style.body-overlay-on {
	right: 0;
}

/* Dropdown Menu Fixed Header */
.dropdown-menu-style.mobile_menu_active.header-block #headerwrap.fixed-header .header-bar,
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header .social-widget,
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header #searchform-wrap,
.dropdown-menu-style.mobile_menu_active #main-nav li .child-arrow,
.dropdown-menu-style #headerwrap #menu-icon-close {
	display: none;
}
.dropdown-menu-style #headerwrap.fixed-header .hgroup,
.dropdown-menu-style.mobile_menu_active #gallery-controller .carousel-wrap {
	display: block;
}
.dropdown-menu-style.mobile_menu_active #headerwrap.fixed-header #main-nav-wrap {
	position: static;
}

/* Dropdown Menu Icon */
.dropdown-menu-style #menu-icon-dropdown {
	display: none;
}
.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	margin: 0;
	text-transform: uppercase;
	padding: 17px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 2;
}
.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown .menu-icon-inner {
	width: 13px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.nav-bar-top.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown {
	bottom: auto;
	top: 0;
}
body:not(.fixed-header-on).admin-bar.nav-bar-top.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown {
	top: 32px;
}
.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown span {
	vertical-align: middle;
}

@media screen and (max-width: 1200px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	#pagewrap {
		max-width: 100%;
	}

	body.full_width .themify_builder_row .row_inner,
	.pagewidth,
	.sidebar-none .loops-wrapper.list-post .section-inner,
	.single .section-inner,
	.full_width .post-nav,
	.full_width .commentwrap	{
		max-width: 94%;
	}
	.full_width.sidebar-none .loops-wrapper .section-inner {
		max-width: 100% !important;
	}

	/* IE navigation fix */
	.pagewidth #nav-bar {
		padding: 0 3% \9;
		left: -3% \9;
	}

	/* content */
	#content {
		padding: 7% 0 5%;
		width: 67.8%;
	}

	/* sidebar */
	#sidebar {
		padding: 7% 0 5%;
		width: 26.2%;
	}
	#sidebar .secondary {
		width: 47.4%;
	}

	/************************************************************************************
	SECTION
	*************************************************************************************/
	/* section video */
	.section-post.video {
		min-height: 0;
	}

}

@media screen and (max-width: 830px) {

	/************************************************************************************
	HIGHTLIGH POST TYPE
	*************************************************************************************/
	/* grid4 */
	.loops-wrapper.highlight.grid4 .post {
		width: auto;
		margin-left: 0;
		float: none;
	}

}

@media screen and (max-width: 768px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/

	body.full_width .themify_builder_row .row_inner {
		max-width: 90%;
	}

	#content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}

	/* sidebar */
	#sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}


	/************************************************************************************
	SECTION
	*************************************************************************************/
	/* section */
	.section-inner {
		padding-top: 100px; /* padding space for fixed header */
	}

	/* section message content */
	.section-post.message {
		font-size: 1em;
	}

	/************************************************************************************
	POST
	*************************************************************************************/
	/* grid4 & grid3 */
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post {
		width: auto;
		margin-left: 0;
		float: none;
	}
	
	/************************************************************************************
	WOOCOMMERCE SUPPORT
	*************************************************************************************/
	/* Single Product */
	.woocommerce #content div.product div.images,
	.woocommerce #content div.product div.summary {
		float: none !important;
		width: 100% !important;
	}
	
	/* Cart */
	.woocommerce .cart-collaterals .cart_totals tr td,
	.woocommerce-page .cart-collaterals .cart_totals tr th {
		width: auto !important;
	}

}

@media screen and (max-width: 680px) {

	/************************************************************************************
	HEADING
	*************************************************************************************/
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1.2em;
	}

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	/************************************************************************************
	HEADER
	*************************************************************************************/
	#headerwrap {
		z-index: 998;
	}

	/* social widget */
	.social-widget {
		position: static;
		float: none;
		padding: 0;
	}

	/* header slider */
	#gallery-controller .carousel-nav-wrap a {
		margin: -18px 0 0;
		width: 30px;
		height: 30px;
	}
	#gallery-controller .carousel-nav-wrap a:before {
		font-size: 20px;
	}
	#gallery-controller .carousel-nav-wrap a:hover:before {
		font-size: 24px;
	}

	/************************************************************************************
	MAIN NAV (MOBILE)
	*************************************************************************************/
	.admin-bar.no-header #nav-bar,
	.admin-bar #nav-bar.fixed-nav-bar {
		top: 0;
	}
	
	#gallery-controller .slider-dot {
		width: 6px;
		height: 6px;
	}

	/************************************************************************************
	LOOPS WRAPPER
	*************************************************************************************/
	.loops-wrapper {
		margin-left: 0 !important;
	}

	/************************************************************************************
	POST
	*************************************************************************************/
	.post {
		width: auto !important;
		max-width: 100% !important;
		margin-left: 0 !important;
		float: none !important;
	}

	.loops-wrapper.list-post .post-content {
		overflow: visible;
	}

	.single-portfolio-expanded .post-image,
	.single-portfolio .post-image,
	.loops-wrapper.list-post .post-image {
		 max-width: 100%;
		 width: 100%;
		 float: none;
		 margin-right: 0%;
	}

	/* grid2-thumb */
	.loops-wrapper.grid2-thumb .post-image {
		width: auto;
		max-width: auto;
		min-width: 0;
	}
	.loops-wrapper.grid2-thumb .post-content {
		overflow: visible;
	}

	/************************************************************************************
	SECTION
	*************************************************************************************/
	/* section title */
	.section-title,
	.section-post.message .section-title {
		font-size: 2.2em;
	}
	.section-subhead,
	.section-post.message .section-subhead {
		font-size: 1.2em;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev,
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}

	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist ul,
	.commentlist ol {
		margin: 0 0 0 5%;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 1em 1em 0;
	}
	#commentform label {
		display: block;
	}
	#commentform input[type=text],
	#commentform input[type=email],
	#commentform input[type=url] {
		width: 100%;
		max-width: none;
		margin: 0;
		box-sizing: border-box;
	}

	/************************************************************************************
	FOOTER
	*************************************************************************************/
	#footer-logo {
		position: static;
	}
	.footer-nav {
		padding: 0;
		margin: 0;
	}
	
	/* FOOTER LEFT COL, FOOTER RIGHT COL, FOOTER HORIZONTAL LEFT, FOOTER HORIZONTAL RIGHT
	================================================ */
	.footer-horizontal-left .footer-left-wrap,
	.footer-horizontal-right .footer-left-wrap,
	.footer-horizontal-left .footer-right-wrap,
	.footer-horizontal-right .footer-right-wrap,
	.footer-left-col .main-col,
	.footer-right-col .main-col,
	.footer-left-col .section-col,
	.footer-right-col .section-col {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		max-width: 100%;
	}
	.footer-horizontal-right .footer-text {
		text-align: inherit;
	}

	/************************************************************************************
	WOOCOMMERCE SUPPORT
	*************************************************************************************/
	/* On Sale */
	.woocommerce span.onsale,
	.woocommerce-page span.onsale,
	.woocommerce ul.products li.product .onsale,
	.woocommerce-page ul.products li.product .onsale {
		padding: .5em;
	}
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
		padding: .4em 0.9em;
		font-size: 10px;
	}

	/* Fix Cart Responsive */
	.woocommerce-cart table.cart td,
	.woocommerce-cart table.cart th {
		width: auto;
		padding: 1em 1.5em;
	}
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text {
		width: 100%;
		max-width: none;
		margin: 0 0 1em;
	}
	.woocommerce table.cart td.actions .input-text+.button,
	.woocommerce-page table.cart td.actions .input-text+.button,
	.woocommerce-page #content table.cart td.actions .input-text+.button,
	.woocommerce table.cart td.actions .button,
	.woocommerce table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions input,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions input {
		float: none;
		width: 100%;
		margin: 0;
	}

	/* My Account */
	.woocommerce-account .woocommerce-MyAccount-content,
	.woocommerce-account .woocommerce-MyAccount-navigation {
		float: none;
		width: auto;
		clear: both;
	}
	.woocommerce-account .woocommerce-MyAccount-content {
		margin-top: 2em;
	}

}

/* WordPress Breaking Points */
@media screen and (max-width: 782px) {
	.admin-bar.mobile_menu_active .sidemenu,
	.admin-bar #headerwrap.fixed-header {
		top: 46px;
	}
}
@media screen and (max-width: 600px) {
	.admin-bar.sidemenu-active {
		position: static;
	}
	.admin-bar.sidemenu-active.mobile-menu-visible {
		position: relative;
		top: -46px;
	}
	.admin-bar .sidemenu,
	.admin-bar .fixed-nav-bar .sidemenu,
	.admin-bar.no-header #nav-bar.fixed-nav-bar,
	.admin-bar #nav-bar.fixed-nav-bar {
		top: 0;
	}
}

/* Responsive Gallery items */
@media screen and (max-width: 1024px) {
	.gallery-columns-5 .gallery-item:nth-of-type(5n),
	.gallery-columns-6 .gallery-item:nth-of-type(6n),
	.gallery-columns-7 .gallery-item:nth-of-type(7n),
	.gallery-columns-8 .gallery-item:nth-of-type(8n),
	.gallery-columns-9 .gallery-item:nth-of-type(9n) {
		margin-right: 1.5%;
	}
	.gallery-columns-5 .gallery-item:nth-of-type(4n+1),
	.gallery-columns-6 .gallery-item:nth-of-type(4n+1),
	.gallery-columns-7 .gallery-item:nth-of-type(4n+1),
	.gallery-columns-8 .gallery-item:nth-of-type(4n+1),
	.gallery-columns-9 .gallery-item:nth-of-type(4n+1) {
		clear: left;
	}
	.gallery-columns-5 .gallery-item:nth-of-type(4n),
	.gallery-columns-6 .gallery-item:nth-of-type(4n),
	.gallery-columns-7 .gallery-item:nth-of-type(4n),
	.gallery-columns-8 .gallery-item:nth-of-type(4n),
	.gallery-columns-9 .gallery-item:nth-of-type(4n) {
		margin-right: 0;
	}
	.gallery-columns-5 .gallery-item + br,
	.gallery-columns-6 .gallery-item + br,
	.gallery-columns-7 .gallery-item + br,
	.gallery-columns-8 .gallery-item + br,
	.gallery-columns-9 .gallery-item + br {
		display: none;
	}
	
	/* clear none gallery item different sizes */
	.gallery-columns-5 .gallery-item:nth-of-type(5n + 1),
	.gallery-columns-6 .gallery-item:nth-of-type(6n + 1),
	.gallery-columns-7 .gallery-item:nth-of-type(7n + 1),
	.gallery-columns-8 .gallery-item:nth-of-type(8n + 1),
	.gallery-columns-9 .gallery-item:nth-of-type(9n + 1) {
		clear: none;
	}

	/* gallery column 5,6,7,8 and 9 */
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width: 23.8%;
	}
}
@media screen and (max-width: 680px) {
	.gallery-columns-3 .gallery-item + br {
		display: none;
	}
	.gallery-columns-3 .gallery-item:nth-of-type(3n) {
		margin-right: 1.5%;
	}

	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width: 49.2%;
	}
	.gallery-columns-3 .gallery-item:nth-of-type(2n),
	.gallery-columns-4 .gallery-item:nth-of-type(2n),
	.gallery-columns-5 .gallery-item:nth-of-type(2n),
	.gallery-columns-6 .gallery-item:nth-of-type(2n),
	.gallery-columns-7 .gallery-item:nth-of-type(2n),
	.gallery-columns-8 .gallery-item:nth-of-type(2n),
	.gallery-columns-9 .gallery-item:nth-of-type(2n) {
		margin-right: 0;
	}
	
	/* clear none gallery item different sizes */
	.gallery-columns-4 .gallery-item:nth-of-type(4n + 1),
	.gallery-columns-3 .gallery-item:nth-of-type(3n + 1),
	.gallery-columns-2 .gallery-item:nth-of-type(2n + 1) {
		clear: none;
	}
}