/*
Skin Name: Orange
Version: 1.0
Description: Skin for Parallax
*/

/* links */
a,
.post-nav .arrow,
.widget a {
	color: #e4630d;
}

/* buttons */
input[type=reset],
input[type=submit],
button,
.pagenav .current,
#load-more a {
	background-color: #e4630d;
	border-color: #c9580c;
	color: #fff;
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover,
.pagenav a:hover,
#load-more a:hover {
	background-color: #fc6e0f;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, input[type=email]:focus, input[type=url]:focus {
	border-color: #e4630d;
}

/* headerwrap, nav-bar and footerwrap */
.footer-horizontal-left .back-top a,
.footer-horizontal-right .back-top a,
.footer-left-col .back-top a,
.footer-right-col .back-top a,
.header-rightpane.mobile_menu_active #headerwrap #menu-icon,
.header-leftpane.mobile_menu_active #headerwrap #menu-icon,
#headerwrap,
.header-block #main-nav-wrap,
body:not([class*='header-']) #main-nav-wrap,
#footerwrap {
	background-color: #e4630d;
}
.header-block.mobile_menu_active .menu-icon-wrap,
body:not([class*="header-"]).mobile_menu_active .menu-icon-wrap,
.body-overlay,
.header-block #main-nav-wrap,
body:not([class*='header-']) #main-nav-wrap,
.header-block.fixed-header-on #main-nav-wrap,
body:not([class*='header-']).fixed-header-on #main-nav-wrap {
	background-color: rgba(228,99,13,.7);
}
body:not(.mobile_menu_active).header-minbar .sidemenu,
body:not(.mobile_menu_active).header-slide-out .sidemenu,
.header-overlay.mobile-menu-visible #headerwrap {
	background-color: rgba(228, 99, 13, .9);
}

/* main navigation */
#main-nav a:hover,
#main-nav .current_page_item a,
#main-nav .current-menu-item a,
#main-nav .current_page_item a:hover,
#main-nav .current-menu-item a:hover {
	color: #000;
}

/* back-top and footer widget list border */
.back-top,
#footer .widget li {
	border-color: #c9570c;
}

/* footer */
#footer {
	color: #fff;
}
.back-top a:before,
#footer a {
	color: #fff;
}
#footer a:hover {
	color: #000;
}

.mobile_menu_active #mobile-menu {
	background-color: #e4630d;
}

/* WooCommerce
================================================ */
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button,
.woocommerce div.product form.cart .button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce ul.products li.product .button {
    background-color: #e4630d;
	color: #fff;
}
.woocommerce form input[type="tel"]:focus {
	border-color: #e4630d;
}
/* hover */
.woocommerce nav.woocommerce-pagination ul li a:focus:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover:hover,
.woocommerce nav.woocommerce-pagination ul li span.current:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover,
.woocommerce .woocommerce-error .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce-page .woocommerce-error .button:hover,
.woocommerce-page .woocommerce-info .button:hover,
.woocommerce-page .woocommerce-message .button:hover,
.woocommerce div.product form.cart .button:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce ul.products li.product .button:hover {
	background-color: #fc6e0f;
}