/* .center_div{
	width: 90% !important;
} */
#header {
    width: 100% !important;
}

.no-fixed-header.header-block.nav-bar-top #headerwrap #main-nav-wrap {

    position: absolute;
    display: flex !important;
    justify-content: center !important;

}




#footerwrap {position:relative; z-index:9999;}
.social-widget,  #searchform-wrap, .social-links.horizontal, #searchform{
	display:none !important;
}
#headerwrap {
    background: none;
}

.pagewidth {
    width: 1160px !important;
    margin: 0 auto;
    max-width: 100%;
}

.wh_sub_head {
float: left;
width: 100%;
font-family: Josefin Sans;
padding-bottom: 1px;
text-align: center;
margin-top: 8px;
padding-top: 25px;
font-size: 27px;
font-weight: 500;
font-family: "Questrial";
font-weight: normal;
}
#share-buttons img {
width: 48px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
#share-buttons{
float: left;
text-align: center;
width: 100%;
margin-top: 20px;
}

#main-nav ul{
	margin: 0 0 0 -99px !important;
    padding: 5px 0 8px !important;
}
#main-nav ul ul {
    left: 145% !important;
}
#main-nav-wrap ul{margin:0; padding:0;}
#main-nav-wrap ul li {list-style:none; float:left; display:inline-block; position:relative;}
#main-nav-wrap ul li a{color: #026701;
display: block;
padding: 22px 0px;
margin: 0 14px;
text-decoration: none;
-moz-transition: all .2s ease-in-out;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;}
#main-nav-wrap ul li a:hover {color:#026701;}
.plant-registration a.btn_download {margin: 20px auto 0;float: none;display: inherit;height: auto;text-align: center;overflow: hidden;padding: 5px 0;border-radius: 4px; position:relative; z-index:9;
background-color:green;
border: 2px solidgreen;
box-shadow: none;
color:#ffff;
cursor: pointer;
font-size: .95em !important;
font-weight: 600;
margin-top: 30px;
text-transform: uppercase;
transition: all .3s ease-in-out 0s;
width: 208px;
line-height: 25px;
margin-bottom:30px;
font: 1em/1.65em 'Open Sans',"Arial",sans-serif;
}
#social-float {right: 0px;top: 50%;width: 96%; position:fixed;}
.social-float-parent {
    width:  100%;
    float: left;
    position: relative;
}
#social-float.social_abs {position:absolute !important;     right: 0;
    top: auto;
    width: 96%;
    bottom: 10px;
    left: auto; z-index:1;}
	
	
.social-float-parent .benifit_business {width:auto; float:left;}
.social-float-parent .benifit_business a.btn_download{    
	background-color: green;
	border: 2px solid green;
	box-shadow: none;
	color: #ffff;
	cursor: pointer;
	font-size: .95em;
	font-weight: 600;
	text-transform: none;
	transition: all .3s ease-in-out 0s;
	width: 208px;
	line-height: 25px;

	margin: 20px auto 0;
	float: none;
	display: inherit;
	height: auto;
	text-align: center;
	overflow: hidden;
	padding: 5px 0;
	border-radius: 4px;
}
.social-float-parent #share-buttons {width:auto; float:left;}
/* #share-buttons {position: fixed;right: 0px;top: 50%;width: auto;} */
#share-buttons  p {color:#006600;margin: 0 0 10px;
font-size: 20px;}
.plant-registration {position:relative; text-align:center;}
.plant-registration .benifit_business {position: fixed;left: 70px;top: 50%;}
.plant-registration .benifit_business a {text-transform:none;}
.plant-registration img{width:78%; border:none !important;} 

.responsivebenifit_business {display:none;}
@media screen and (max-width:1199px)
{
	.plant-registration .benifit_business {left: 20px;}
	#share-buttons img {width:38px;}
}
@media screen and (max-width:991px)
{
	
#share-buttons {
   width: 60px;
   text-align:right;
   margin: 0;
   top: 30%;
}
#share-buttons a {
    display: block;
}
/* #share-buttons {top:40%;}
#share-buttons a {width:30px; float:left;} */
#share-buttons p {font-size: 10px;
	line-height: 14px;
	text-align:right;
	padding: 3px 3px;
	}
#share-buttons a  img {width:35px; padding:2px;}
.plant-registration .benifit_business {left: 10px;top:30%;}
.plant-registration .benifit_business a.btn_download  {
font-size: 14px;
line-height: 18px;
width: 130px;}
.plant-registration img {width:100%;}
.social-float-parent .benifit_business a.btn_download {width:100px;} 

}

@media screen and (max-width:767px)
{

	.wh_sub_head  {font-size: 18px !important;padding-top: 0!important;}
	#share-buttons p { font-size:8px; width:50px;} 
   .plant-registration a.btn_download {
	font-size: 12px; 
	padding:2px 0;
    width: 150px;
	}
	.plant-registration .benifit_business a.btn_download {width:60px;font-size: 12px;
    line-height: 18px;}
	.plant-registration img {width:76%;}
	.plant-registration .benifit_business {display:none !important;}
	.plant-registration .benifit_business.responsivebenifit_business {    
	display: block!important;
    position: relative;
    padding: 0 !important;
    float: left;
	margin-bottom: 25px;
    width: 100%;
    left: 0;}
	.plant-registration .benifit_business.responsivebenifit_business a.btn_download {    
		width: 55%;
		padding: 5px 10px;
	}
	#share-buttons {right: 0px;}
	.social-float-parent .benifit_business {display:none;}
	
	
	h2 {width:100%; float:left; font-size:20px !important;}
	

	
}
.custom_footermenu{
	display:none;
}


.wh_row {

    float: left;
    width: 100%;
    margin: 0px -15px;

}

.half_sEC {

    padding: 0px 15px;
    width: 50%;
    float: left;
	box-sizing: border-box;
	margin-top:30px;

}
#social-float {

    right: inherit;
    top: inherit;
    width: 100%;
    position: relative;
    text-align: center;

}
.social-float-parent #share-buttons {
    width: 100%;
}
.social-float-parent.mb {
    display: none;
}
.plant-registration img {
    width: 100%;
	margin-top: -5px;
}

.video_data.half_sEC iframe {
    width: 100%;
    padding: 0px 20px;
}

@media screen and (max-width: 991px)
{
	#share-buttons p {
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    padding: 0;
    margin: 10px;
	}
	#share-buttons a {
	  display: inline-block;
	}
	#share-buttons
	{
		text-align:center;
	}
}

@media screen and (max-width: 767px)
{ 
	.half_sEC
	{
		margin-top:15px;
		width:100%;
	}
	.wh_row
	{
		margin:0px;
	}
	.social-float-parent.mb {
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
	}
	.social-float-parent.dsktp {
		display: none;
	}
	#share-buttons p {
    width: 100%;
    font-size: 17px;
    margin-left: 0px;
	}
}

@media screen and (max-width:1200px){
	.nav-bar-top #header .hgroup {
      padding-top: 0px !important;
   }
}
@media screen and (max-width:680px){
	#footer {
		padding: 1.25em 20px;
	}
}
@media screen and (max-width:767px){
	.plant-registration a.btn_download{
		width:208px;
		padding: 5px 0;
	}
	.video_data.half_sEC iframe {
    width: 100%;
    padding: 0px 0px;
   }
}